[2016-03-03 01:22] dgoradia opened #1180 "Parent/child relationships"
Does Sensu have the ability to set a parent to a client?

For example, `server-a` is the gateway to `server-b` and `server-c` so if `server-a` goes offline, alerts for `server-b` and `server-c` are suppressed. In this case `server-a` is the parent of `server-b` and `server-c`

This nagios doc probably explains better what I'm getting at: https://assets.nagios.com/downloads/nagioscore/docs/nagiosco

[2016-03-03 10:21] hanynowsky commented on #1170
@dgoradia https://gist.github.com/hanynowsky/9c700af0913d96ee4c99

[2016-03-03 12:36] Udhuman opened #1181 "Sensu Checks not working"
Hi,

I am new to sensu. I have installed Sensu server, API & Uchiwa in one machine and RabbitMQ & Redis in another machine in redundant mode.

Sensu clients and checks are visible in Uchiwa dashboard, but the issue is, checks are not getting refreshed. Seems checks are not working.

Below is our memory check config.
{
  "checks": {
    "memory": {
      "command": "/etc/sensu/plugins/check-memory.

[2016-03-03 13:53] runningman84 commented on #1173
This is the same issue
https://github.com/sensu/sensu/issues/1168
The sensu install command and the chef sensu_gem resource do not like a secure default umask.

[2016-03-03 13:55] runningman84 commented on #1176
+1

[2016-03-03 19:32] rs-mrichmond commented on #1151
Currently this is also an issue with Ubuntu 16.04 (Beta)

[2016-03-03 19:34] rs-mrichmond commented on #1135
Currently this is also an issue with Ubuntu 16.04 (Beta)

Also reported in #1151

[2016-03-04 16:24] kobbe commented on #1181
It is always good to start looking in the server and client logs.

[2016-03-04 18:01] jbehrends opened #1182 "A TTL value submitted as a string can cause the sensu-server to die."
We recently had a sensu-server die for a few days unknowingly. The last log entry before dieing was this:

[code]

Looking at the code, the line it's complaining about is this:
`if time_since_last_execution >= check[:ttl]`

After a bunch of digging I found that someone had implemented a script to emit check results to port 3030 on a client, and the script was quoting the ttl value when it should h

[2016-03-04 18:44] soichih commented on #775
I have following handler configuration

[code]

I don't see any error message generated on my sensu server, but I see following output

[code]

I am not seeing any exchange / queue created on my AMQP. Do I need to setup any exchange or queue on my AMQP server so that message can be delivered? Does the "type" apply to exchange or queue?

How does "transport" really work? Does it just publish the JS

[2016-03-04 21:46] skurylo commented on #1182
We recently ran into this issue.  I've created a pull request with a possible solution.

The draw back of my solution is if the user supplies something like "foo" for the ttl, it will be changed to a zero.

I'm happy to implement a different solution, such ignoring the event or ttl and logging an error message.

[2016-03-07 21:36] mnguyen1289 opened #1184 "Long Check Durations"
I'm having a strange problem with Sensu check duration times.  Here's an example check result JSON output:

{
    "check": {
        "command": "/usr/lib/nagios/plugins/check_http -H example.com -I xx.xx.xx.xx -t 20",
        "dependencies": [
            "example.com/Ping_example.com",
            "sensu-probe/keepalive"
        ],
        "duration": 36.45,
        "executed": 1457385829,

[2016-03-08 00:56] dgoradia commented on #1170
Thanks! @hanynowsky

[2016-03-08 18:52] mnguyen1289 commented on #1184
FYI - I'm seeing this problem across in both 19.2 and 20.6 versions.

After some digging, it turns out the limitation was on spawning additional sensu event machine processes.  By default, it was limited to 12 concurrent processes.  After bumping the threshold up, my check duration times returned back to normal.

I'm going to work on submitting a patch against the sensu spawn library and the sensu

[2016-03-09 07:37] jaredledvina commented on #1135
@portertech - It looks like this PR https://github.com/freight-team/freight/pull/1/files might have added support to include the ``Date`` feild to freight. Thoughts?

[2016-03-09 07:45] jaredledvina commented on #1151
Closing issue as duplicate of https://github.com/sensu/sensu/issues/1135

[2016-03-09 07:45] #1151 closed

[2016-03-10 08:13] madAndroid commented on #1004
+1 - It would be great if this was available at the client config level, instead of needing to add a filter, which would make the automation of this sort of config much simpler.

[2016-03-10 11:37] runningman84 opened #1187 "Aggregate for standalone checks"
Please add support aggreation support for standalone checks. This should be quite easy, in order to synchronize the check start time, you could hash the checkname and build a common start time.

For example checks which a running each minute
check_a => hash => 10 (first start 00:00:10, next start 00:01:10, ...)
check_b => hash => 30
check_c => hash => 59

[2016-03-10 13:59] ctheune commented on #1001
As a temporary workaround I'm adding "iconv" around my commands to clean up the output and ensure that its ascii-only.

[2016-03-11 17:46] rosenfeld commented on #1135
I had a problem with my previous Sensu server and I'm having to set up a new server and trying to do so on Debian sid is not possible due to this issue. Is there any estimate for when this will be fixed?

[2016-03-12 19:03] mvelez83 opened #1189 "Sensu API fails after start (Connection Refused)"
Hello,

I'm very new to sensu (version 0.20.3) and I wanted to delete some checks on a host that was removed yet still showed up when I clicked on the hostname. I did some googling and tried to remove the check by doing the following:

1. Log into Redis
2. Run the following -> del result:websql02.:disk_check_centos and del stash:silence/websql03/disk_check_centos
3. Exit Redis

After doing so, I g

[2016-03-14 12:39] masterkorp opened #1190 "Sensu client could not find a temporary directory"
Sensu clients fails to find a tmp directory.

[code]

[code]

[2016-03-15 12:43] roobert commented on #1190
Likely to be missing sticky bit on `/tmp`, to fix try: `chmod 1777 /tmp`.

[2016-03-15 13:59] roobert commented on #1190
Alternatively set `TMP`, `TEMP`, or `TEMPDIR`[1] values in the `sensu-client` environment to a writeable directory.

1. from the source for `tmpdir()` here: http://ruby-doc.org/stdlib-2.0.0/libdoc/tmpdir/rdoc/Dir.html#method-c-tmpdir

[2016-03-15 14:05] masterkorp commented on #1190
Hello @roobert thanks for the tips. The `/tmp` is with the correct `1777` mods.

Tried to run that method by hand and it  finds the tmp folder:
[code]
999 is the correct sensu user id.

Any ideas?

[2016-03-15 14:49] masterkorp commented on #1190
I also tried to to edit ``/etc/init.d/sensu-service`` and edit ``TMP=/opt/sensu/sv`` which is directory owned and writable by the ``sensu`` user with the same results.

[2016-03-15 21:50] thomaslitton commented on #1029
Has there been any work done on this?  I'm interested in getting Sensu to work with a redis cluster, and was wondering if there is anything done that I could take a look at yet.

[2016-03-16 08:42] pstadt opened #1192 "sensu-client: IPv6 resolver does not work"
I just configured a sensu-client with rabbitmq ipv6 communication using ssl.

When using the raw IPv6 address for rabbitmq.host everything is fine.
If I use a dnsname with an AAAA record only (no A record for this dnsname) sensu does not start at all:

[code]

"Resolver Error 'Success'" looks like the AAAA record was resolved but for creating the  connection it is ignored.

I am not sure if this i

[2016-03-16 08:56] david-strejc commented on #900
We think about having consul for this specific solution - we will add check results into sensu client via 3030 port of sensu-client.

It is little bit crazy, but it can work.

[2016-03-16 14:31] johntdyer commented on #1152
@portertech  any update here? 0.19.2-1 no longer appears on the repos

[2016-03-18 00:09] calebhailey commented on #1175
@kobbe: first off, thank you for submitting this issue, and for your follow-up comments & examples. I agree that "The most important thing is that the documentation is clear", which could clearly use some improvement to have made it more obvious that filters are processed before mutators and handlers. We _have_ recently made some improvements in this regard, but perhaps not obviously enough (see:

[2016-03-18 07:55] kobbe commented on #1175
@calebhailey That sounds great and would work perfectly. I think it is much neater than changing the values in a mutator too since it requires less configuration files.

That documentation does it but consider changing the wording in the mutator docs to something less ambiguous or add that a mutator runs after a filter.

Thank you :+1:

[2016-03-18 17:41] calebhailey commented on #1175
@kobbe awesome; thanks for your feedback! We are _super tentatively_ hoping to sneak this into the impending 0.23 release (which is primarily going to be about native support for [Redis Sentinel](https://github.com/sensu/sensu-redis)), but no promises. :) Worst case scenario, we can definitely implement this in 0.24, which are already planning to come right on the heels of 0.23. :)

/cc @portertec

[2016-03-18 18:45] afrozl opened #1193 "Ignoring metrics in the sensu server"
I would like to use an alternative rabbitmq consumer process for the metrics being collected by sensu clients. Is there a way to configure sensu server to ignore all events of type 'metric'?

[2016-03-21 18:05] rollcat opened #1194 "Gem fails to install on OpenBSD 5.8 (-release)"
One of Sensu's dependencies, [eventmachine](https://github.com/eventmachine/eventmachine) has recently released a new version (1.2.0) which [fixes a showstopper bug](https://github.com/eventmachine/eventmachine/pull/690) during installation. Sensu still currently relies on the 1.0.9 branch.

I have tested the following diff against eventmachine's `v1.0.9.1` and everything seems to work fine:

[cod

[2016-03-22 10:19] gregorkistler commented on #683
I would mark this as completed. I´ve hit the same issue a few minutes ago. The sensu_ssl_tool still uses SHA1 and I wondered why I can´t use certificates from my FreeIPA CA which dropped support for SHA1 long time ago.
Figured out that I still had Erlang 16b3 installed. After an upgrade to 18.2 I´m able to use my certificates from my own CA.

[2016-03-22 22:18] joshzitting opened #1196 "would like a unique key in event json to simplify ticketing/event aggregation system."
We are sending sensu events to sentry (getsentry.com) for logging/event aggregation. Something that would be useful for us (and I think other people if they try tying sensu into a ticketing system) is a unique value (stored as part of the event output) that is generated/stored on the sensu server on the first 1 or 2 status and remains the same until the status returns to 0.
That way we can categor

[2016-03-22 22:22] CreativelyCloudy commented on #1196
+1

[2016-03-23 15:13] confiq commented on #1181
This is more question than sensu issue. I would try stackoverflow instead...

[2016-03-28 20:14] rvanantwerp opened #1199 "sensu-install without Internet connectivity"
Are there proposals/suggestions for how to use sensu-install on hosts behind firewalls that block outbound Internet connectivity? We have an RPM mirror, but having trouble understanding what 'sensu-install' *actually* does, and how to mimic this behavior via RPM packages.

I think this is a pretty common requirement of most enterprises, and curious how others are dealing with it.

[2016-03-29 14:09] oryband opened #1201 "create sensu docker image, lightweight using alpine linux"
I think it's high time sensu will provide a Docker image, for various reasons:

1. Easier to install in production.
1. Easier to develop using tools like docker-compose.
1. Not forced to use Ubuntu or CentOS

Rounds [have already created an image for this purpose](https://hub.docker.com/r/rounds/sensu). Perhaps we should PR?

[2016-03-29 14:18] oryband commented on #1201
At rounds we create private images which inherit from the public image above:

1. We copy in private RabbitMQ SSL keys to a `rounds/sensu-api` private image.
1. `rounds/sensu-client` image inherits from `rounds/sensu-api` and also copies our custom checks scripts (Python).
1. `rounds/sensu-server` sensu-server image also inherits from `sensu-api` and copies our subscription configuration.

In addi

[2016-04-01 17:44] nhooey opened #1202 "Specify *what type* of TCP connection failure is occurring in `sensu-client`"
When `sensu-client` has a connection error, it merely writes this in the log:
[code]
It should be more specific by specifying "connection refused", "authentication failed", etc.

[2016-04-01 17:45] nhooey commented on #1202
Duplicate of #842

[2016-04-01 17:45] #1202 closed

[2016-04-01 17:47] nhooey commented on #842
@portertech Any plans to fix this soon?

[2016-04-01 19:59] nhooey opened #1203 "Creating a new client through the API disables `keepalives`."
When I create a new client that doesn"t already exist in the API:
**`POST /clients`:**
[code]

I get `keepalives` disabled in the client:
**`GET /clients/<name>`:**
[code]

Why are `keepalives` set to false by default?

Even when I enabled `keepalives`, specify the `default` `handler`, and specify thresholds for `keepalive`:
**`POST /clients`:**
[code]

I still get a client with `keepalives` disab

[2016-04-01 20:22] nhooey commented on #1203
Thanks for `zbindtliff` from IRC for pointing out that [`keepalives` is always disabled](https://github.com/sensu/sensu/blob/master/lib/sensu/api/process.rb#L352) on client creation.

In the case where you want to create a Sensu client for a node that is expected to check-in later after it is successfully provisioned, this is definitely a bug that prevents you from doing that.

[2016-04-02 14:46] dmsimard opened #1204 "Filters do not seem to be applied on keepalive checks."
My filters are applying on my checks successfully without any problems but it doesn't look like I can get them to run on the keepalive notifications, resulting in me getting spammed every 20 seconds.

Am I doing something wrong or is this an actual issue ?

Given the following example client configuration:

    {
      "client": {
        "name": "hostname",
        "address": "192.168.0.10",

[2016-04-02 17:44] nhooey commented on #842
Does anyone know where the code is that emits this error?

I couldn't find the string in the repositories `sensu/sensu` and `sensu-transport`.

[2016-04-02 17:49] nhooey commented on #842
It looks like the string: `Detected TCP connection Failure` no longer exists as of [sensu-transport/commit/00c46be](https://github.com/sensu/sensu-transport/commit/00c46be6c9ca660072c01cce6875ae06ce8e4d53).

Does the actual type of error bubble up in the latest version?

[2016-04-02 17:58] nhooey commented on #842
This is where the error is emitted in [ruby-amqp/amqp](https://github.com/ruby-amqp/amqp):
* [lib/amqp/session.rb](https://github.com/ruby-amqp/amqp/blob/c665bdca4bf36db761d7e87f3e2e73244b684e25/lib/amqp/session.rb#L638)

It seems that even that library doesn't provide any specific information, just a callback.

[2016-04-02 18:06] nhooey commented on #842
I reported this bug:
* [Emit more specific error than `[amqp] Detected TCP connection failure` #222
](https://github.com/ruby-amqp/amqp/issues/222)

[2016-04-02 18:10] nhooey commented on #842
And I submitted this pull request:
* ruby-amqp/amqp#223

[2016-04-02 18:11] nhooey commented on #842
@portertech After that pull request gets merged, when could we get a new release of `sensu-client` and `sensu-server` that uses that code?

[2016-04-02 18:13] ball-hayden commented on #747
Also seeing this problem still.

sensu-client 0.22.1

Similar backtrace.

[2016-04-03 01:32] nhooey commented on #842
The maintainer of ruby-amqp/amqp just merged it today. I'll post here when he cuts a new release.

[2016-04-03 19:45] sstarcher commented on #1201
I like that yours is based off alpine.  I may convert my to alpine to shave off a few megs.  My image is setup to help with setting the correct values for api/server/client

https://hub.docker.com/r/sstarcher/sensu/

[2016-04-04 07:31] acsrujan commented on #1199
I've done the following:
Adding this to an RPM mirror repo.. ```/etc/yum.repos.d/sensu.repo```
[code]
Hope this helps.

[2016-04-04 16:34] Sunkari16 opened #1206 "Sensu sending OK and CRITICAL status for one check issued at a time"
I have tried sensu and in below case it seems to be sending both OK and CRITICAL status for same sensu server request

1.configure a client and setup a check(http in my case)
2.first make the http test fail and send CRITICAL response
3.Make you server up , so that the http check are OK now.
4.sensu starts spamming by seeing the result as CRITICAL and OK for same request
5.From client the response

[2016-04-04 18:58] portertech commented on #842
@nhooey nice work! I will update sensu-transport to use 1.6.0 (includes your change!)

[2016-04-04 19:56] nhooey commented on #842
Great! Thanks @portertech.

Will whatever thing `sensu-client` is a part of get updated to use the new `sensu-transport` as well?

[2016-04-05 00:00] Sunkari16 commented on #1206
Resolved..Its not abug
our bad. there were two machines with same name.
Aa a suggestion you can show the ip or additional system details in log to identify better.

[2016-04-05 00:00] #1206 closed

[2016-04-05 06:11] portertech commented on #1204
Filters are applied to handlers, not checks.

[2016-04-05 06:12] portertech commented on #1204
https://sensuapp.org/docs/0.21/filters#what-are-sensu-filters

[2016-04-05 17:43] dmsimard commented on #1204
@portertech you're right, I got that mixed up in my different attempts to get this to work.

After doing some *exhaustive* debugging, I found out that the filter was silently crashing due to a bug in my extension. The filters are indeed run correclty. Closing this.

[2016-04-05 17:43] #1204 closed

[2016-04-05 18:42] kobbe commented on #1175
@portertech Close now?

[2016-04-06 12:47] GhostLyrics opened #1209 "Sensu 0.23 cannot connect to Redis with same settings as 0.22"
Sensu API hangs on reconnect to Redis. Same goes for Sensu-server which also gets stuck reconnecting.

`/etc/sensu/conf.d/redis.json`:

[code]

Log output with `0.23`, on Ubuntu Trusty, from the sensu repository, `/var/log/sensu/sensu-api.log`:

[code]

With `0.22`:

[code]

[2016-04-06 13:42] mnellemann commented on #1209
I'm experiencing the exact same issue.

[2016-04-06 14:14] spacepants commented on #1209
Also seeing the same thing. Running Redhat 6.7 and managing everything via the sensu puppet module.

Manually restarting the service throws notices that it's ignoring certain gems:

[2016-04-06 14:25] runningman84 commented on #1209
This seems to work for me on Ubuntu 14.04.

[2016-04-06 14:27] mnellemann commented on #1209
I'm using the embedded-ruby, Ubuntu 14.04, Sensu from repo (puppet sensu module).

[2016-04-06 15:45] portertech commented on #1209
@spacepants using the embedded ruby?

[2016-04-06 15:46] portertech commented on #1209
@GhostLyrics so sensu services are able to initially connect to Redis, but they are having troubles reconnecting to Redis?

[2016-04-06 15:46] spacepants commented on #1209
@portertech Yep.

[2016-04-06 15:47] portertech commented on #1209
I'll try to reproduce now.

[2016-04-06 15:48] portertech commented on #1209
@spacepants it seems that you need to reinstall those gems with the embedded Ruby 2.3 to build the extensions.

[2016-04-06 15:51] portertech commented on #1209
@GhostLyrics do you know why the Redis reconnect is triggered? I am unable to reproduce by stopping/kill Redis, the API successfully reconnects.

[2016-04-06 15:55] GhostLyrics commented on #1209
@portertech care to continue in #sensu IRC? Otherwise I'm happy to answer the questions here, as far as I can.

No, I don't know what's causing the reconnect. There are no additional log statements aside from that and Redis is on the same machine.

[2016-04-06 15:56] portertech commented on #1199
You can run your own Rubygems mirror and specify it as a custom source, using `--source`.

[code]

[2016-04-06 16:03] mnellemann commented on #1209
Hi,

In my case sensu-server did not connect to Redis at all (checked with tcpdump) no matter if redis_reconnect_on_error was true or false. I got this in my log:

`{"timestamp":"2016-04-06T06:45:44.570372+0200","level":"warn","message":"loading config file","file":"/etc/sensu/conf.d/redis.json"}
{"timestamp":"2016-04-06T06:45:44.570418+0200","level":"warn","message":"config file applied changes",

[2016-04-06 16:17] dmizelle commented on #1209
We got bit by this today too. Thankfully it was in a pre-production environment. Practically the same exact error as @mnellemann.

We rolled back to 0.22.x and everything works as expected. A learned lesson to pin to a specific version. If it helps, we are also using puppet-sensu (which I see at least one other commenter is using too)

[2016-04-06 16:23] portertech commented on #1209
After doing some debugging with @GhostLyrics on IRC, it seems that the failure is linked to Redis definition attributes. We're working through the attributes that the puppet module sets by default.

[2016-04-06 16:31] portertech commented on #1209
Looks like the cause was `"host": "localhost"`, changing it to `"host": "127.0.0.1"` fixed it for @GhostLyrics. This is the default value https://github.com/sensu/sensu-redis/blob/master/lib/sensu/redis.rb#L62

[2016-04-06 16:49] portertech commented on #1209
@mnellemann try changing `"host": "localhost"` to `"host": "127.0.0.1"`.

[2016-04-06 16:51] spacepants commented on #1209
Fixed the redis issue for me as well.

The only way I was able to clear the gem issue was by manually clearing out those gems. The 2.2.0 gems were still being sourced somehow in the embedded ruby path. ¯\_(ツ)_/¯ Working now, though.

[2016-04-06 16:54] portertech commented on #1209
@spacepants another sensu-build bug, init script.

[2016-04-06 17:02] portertech commented on #1209
Users, please run: `/opt/sensu/embedded/bin/ruby -rresolv -e 'puts Resolv.getaddress "localhost"'`

If it resolves to "127.0.0.1", you're OK. If it resolves to "::1", Redis is probably not listening with IPv6.

[2016-04-06 17:10] mnellemann commented on #1209
Hi,

The resolv test suggested returned `::1` for me.
Setting `sensu::redis_host: '127.0.0.1'` fixed it for me as well.

Thanks everybody for quick fix :)

[2016-04-06 19:45] portertech commented on #1209
@spacepants 0.23.0-3 packages are now available in the repositories, fixing the GEM_PATH issues.

[2016-04-06 20:28] portertech commented on #1203
@nhooey this is by design, since whatever the future Sensu client sends in its first keepalive will replace anything you have added to the registry via the API.

[2016-04-06 20:28] portertech commented on #1203
POST /clients is only intended for JIT client management.

[2016-04-06 20:38] portertech commented on #1192
@pstadt I am curious if this is still the case with the latest Sensu release, 0.23.0-3.

[2016-04-06 20:49] nhooey commented on #1203
@portertech Okay but let's assume the Sensu client never comes up, how am I going to know that it didn't come up within a reasonable amount of time?

My idea to solve this problem was to create a client through the API, set the keepalive timeout to 15 minutes, then provision the node with Ansible during which the Sensu client should be installed and check in and overwrite the keepalive timeout bac

[2016-04-06 20:54] calebhailey commented on #1209
Adding the configuration and documentation labels to indicate that is a configuration issue, which we should document. See: https://github.com/sensu/sensu-docs/issues/347

[2016-04-06 21:03] portertech commented on #1203
We could just add a fetch() at https://github.com/sensu/sensu/blob/master/lib/sensu/api/process.rb#L359 to support `"keepalives": true`.

[2016-04-06 21:08] calebhailey commented on #1203
@nhooey this is a pretty clever idea. As previously mentioned, the current behavior was by design because Sensu is designed to support automatic/dynamic registration, so the idea of telling Sensu that a client is supposed to exist is an anti-pattern. Having said that, there's no harm in making this possible, so we're going to shoot for adding this in 0.24!

Thanks for your submission!

#monitoring

[2016-04-06 21:13] calebhailey commented on #1201
@oryband we absolutely like the idea of making Sensu Docker images available, and we have some of our own ideas about to do this at some point in the near future, however any such efforts will be be a part of Sensu Core itself - we would likely create a separate repository for Sensu Docker images.

Instead of just closing this issue without a resolution, I'm curious what the community's thoughts w

[2016-04-06 21:17] portertech commented on #1194
The Sensu 0.23.0-3 packages in the repositories uses EM 1.2.0.1 :+1:

[2016-04-06 21:17] #1194 closed

[2016-04-06 21:23] calebhailey commented on #1196
Event IDs (uuid values) already exist (although they aren't documented anywhere), however not in a way that would be useful in this context. Currently event IDs are unique to each occurrence of the event, which isn't necessarily incorrect behavior, but it's also not very useful. Furthermore, event IDs are not used anywhere else in Sensu, so there's no reason we can't make event ids more useful by

[2016-04-06 21:24] portertech commented on #1196
https://github.com/sensu/sensu/blob/master/lib/sensu/server/process.rb#L447

Make it:

`:id => stored_event ? stored_event[:id] : random_uuid,`

[2016-04-06 21:27] portertech commented on #1196
![730147c4-7560-11e4-9375-fefd2f67563b](https://cloud.githubusercontent.com/assets/149630/14333470/ac2de950-fc03-11e5-8e14-9af033c856a9.gif)

[2016-04-06 21:27] calebhailey commented on #1193
@afrozl Sensu is already designed to route metrics (or any other event data) to external consumers via [Handlers](https://sensuapp.org/docs/latest/handlers).

Perhaps if you could provide more context we may be able to provide a more helpful response. In the interim, we're going to go ahead and close this issue as a "won't fix".

#monitoringlove

[2016-04-06 21:27] #1193 closed

[2016-04-06 21:31] calebhailey commented on #1190
@masterkorp what platform are you running Sensu on?

[2016-04-06 21:31] rs-mrichmond opened #1210 "No Hash entry in Release file"
The repo is currently broken in Ubuntu 16.04.

Apt gives the following error after installing to repo and trying to update
`W: http://repositories.sensuapp.org/apt/dists/sensu/Release.gpg:
Signature by key EE15CFF6AB6E4E290FDAB681A20F259AEB9C94BB uses weak digest algorithm (SHA1)
E: Failed to fetch http://repositories.sensuapp.org/apt/dists/sensu/Release
No Hash entry in Release file /var/lib/apt/

[2016-04-06 21:35] rs-mrichmond commented on #1210
Note: This might look like a duplicate of issue #1135 because I believe they are both frieght related

[2016-04-06 21:36] calebhailey commented on #1189
@mvelez83 it sounds like the Sensu API died because the data was corrupted (via manual data manipulation in Redis), and as a result the dashboard couldn't connect to the API because it wasn't running. Sensu provides API access to monitoring data stored in Redis - any manual intervention at the Redis level is likely to cause similar issues. Please see [the Checks API documentation](https://sensuapp

[2016-04-06 21:38] #1189 closed

[2016-04-06 21:43] calebhailey commented on #1187
This might already "just work" if you set `"standalone": true` in a standalone check definition, because the standalone scheduler uses the same algorithm for execution requests (see: https://sensuapp.org/docs/latest/clients#standalone-check-execution-scheduler). Having said that, minor differences in system clocks between disparate Sensu clients may result in standalone check results being grouped

[2016-04-06 21:54] calebhailey commented on #1184
@mnguyen1289 thanks for submitting this, and for your PRs! We're going to tag this for implementation in the 0.24 release. \o/

[2016-04-06 21:56] portertech commented on #1182
Result check TTL needs to be validated on input, i.e. https://github.com/sensu/sensu/blob/master/lib/sensu/client/socket.rb#L121

[2016-04-06 22:00] calebhailey commented on #1181
@Udhuman there's not enough information here to suggest there is an issue with Sensu itself, so we're going to close this issue as "won't fix". If you need help learning Sensu, please consider signing up for Sensu Training, here: https://sensuapp.org/training

Alternatively, have you tried visiting the #sensu channel on Freenode? There are usually lots of Sensu users there who can help resolve iss

[2016-04-06 22:01] #1181 closed

[2016-04-06 22:10] calebhailey commented on #1180
@dgoradia this is currently supported via the Sensu Plugin gem, so any Sensu handler plugins that are based on the Sensu Plugin gem will support the `dependencies` attribute; see here for additional information: https://sensuapp.org/docs/0.21/checks#sensu-plugin-attributes

It is also possible to implement custom dependency resolution (e.g. "parent/child relationships") in custom Sensu handlers. T

[2016-04-06 22:26] calebhailey commented on #1179
@jaxxstorm thank you for submitting this issue. This functionality is already available via the [Sensu Health API](https://sensuapp.org/docs/0.21/api-health). Unfortunately this isn't documented very well, but we have this and several other API documentation fixes coming soon.

In the interim, the information you're looking for is called "consumers". It is possible to query the Health API for a sp

[2016-04-06 22:28] calebhailey commented on #1176
Configuration loading is supposed to be logged at the "warn" level to allow for better control over logging, however errors are supposed to be logged with an "error" level. We'll get this fixed 0.24.

[2016-04-06 22:30] portertech commented on #1176
We can update https://github.com/sensu/sensu/blob/master/lib/sensu/daemon.rb#L103, perhaps adding `@settings.errors` to the sensu-settings API https://github.com/sensu/sensu-settings

[2016-04-06 22:38] calebhailey commented on #1175
@kobbe I still have to ship docs for this, but I should get those out before the end of the week. I'll go ahead and close this now! \o/

In the interim, please note that the actual implementation ended up a bit differently than what I suggested in my previous comment. We did not end up adding a key called `eval`; instead, filter attribute eval works exactly like it did before with the addition of

[2016-04-06 22:38] #1175 closed

[2016-04-06 22:45] calebhailey commented on #1174
@genagain there isn't enough information here to suggest that this is an issue with Sensu itself so I'm going to go ahead and close this as a "Training" issue.

If you need help learning Sensu, please consider [Sensu Training](https://sensuapp.org/training), or try hanging out in the #sensu Freenode channel - there are usually many Sensu users there who can help.

Please feel free to comment here

[2016-04-06 22:45] #1174 closed

[2016-04-06 22:46] calebhailey commented on #1173
Closing as duplicate of #1168

[2016-04-06 22:46] #1173 closed

[2016-04-06 22:47] calebhailey commented on #1168
Tagging this as a documentation issue.

[2016-04-06 22:49] calebhailey commented on #1172
@dmizelle I'm going to close this because this isn't the right repo for it, but please feel free to create an issue for this in https://github.com/sensu/sensu-build

#monitoringlove

[2016-04-06 22:49] #1172 closed

[2016-04-06 22:50] #1170 closed

[2016-04-06 22:51] calebhailey commented on #1167
@kaushiksriram100 this doesn't look like an issue with Sensu itself, so I'm going to go ahead and close this.

If you need help learning Sensu, please consider [Sensu Training](https://sensuapp.org/training), or try hanging out in the #sensu Freenode channel - there are usually many Sensu users there who can help.

#monitoringlove

[2016-04-06 22:51] #1167 closed

[2016-04-06 22:53] nhooey commented on #1203
That's great, @calebhailey. Thanks for adding this to the milestone.

[2016-04-06 22:54] calebhailey commented on #1166
@centromere thanks for this submission! Can you provide some more context about your use case for wanting to control TTL severities / behavior?

[2016-04-06 22:59] #1160 closed

[2016-04-06 22:59] centromere commented on #1166
Sure. Right now I have a web server which sends a TTL every few seconds to the local Sensu client indicating whether or not it is connected to an upstream RabbitMQ instance. If that connection does not exist, it is absolutely a critical problem that needs attention, and the web server will indicate that by returning '2'. However, if the web server itself dies, that is another critical problem that

[2016-04-06 23:04] joshzitting commented on #1196
Sweet! I cant wait for this one to be merged! Thanks guys!!

[2016-04-06 23:11] calebhailey commented on #1165
@xyntrix thank you for this submission! I'll answer your last question first - the `handling_event_count` counter includes handler extensions. The loss you're seeing corresponds to check results that were pulled from the transport, but hadn't yet completed processing and converted into an event.

We'll discuss this internally and see what solutions might make sense. It would be easy to add a secon

[2016-04-06 23:15] calebhailey commented on #1164
The only validation performed by Sensu on subscription names is that they must be strings. It sounds like this might be an issue or limitation with the underlying [transport](https://sensuapp.org/docs/latest/transport). We'll look into this and see if there's something we do to improve the documentation.

In any case, this definitely isn't an issue with Sensu, so there won't be a fix related to th

[2016-04-06 23:22] calebhailey commented on #1162
@jootuom thank you for your submission. I'm going to close this issue as it's not a Sensu issue, and the negative time value (e.g. -57865) reported by Sensu is actually correct, and an indication that you should probably synchronize your system clocks.

We've recently added this to the Sensu FAQ, here: https://sensuapp.org/faq#do-system-clocks-need-to-be-synchronized. I've added an issue in the Se

[2016-04-06 23:23] calebhailey commented on #1161
@nhooey thanks for your submission!

[2016-04-06 23:25] calebhailey commented on #1159
@xyntrix thanks for this submission - nice catch! We'll add some validation to check for empty strings. We're tagging this for the 0.24 release.

[2016-04-06 23:26] agoddard commented on #1164
@maxlock fyi I've done a test on 0.22 with a 53 character subscription name, containing a ".", "-" and "_" and the check executed fine. For reference, the subscription name is `yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy-._y` and I'm using RabbitMQ as the transport

[2016-04-06 23:28] calebhailey commented on #1158
@Srungaram it looks like you're attempting to POST to a non-existing API endpoint (i.e. the "root" `/` uri). This doesn't look like an issue with Sensu itself, but please feel free to open a new issue if you can provide some additional context to prove otherwise.

Also, if you need help learning Sensu, please consider [Sensu Training](https://sensuapp.org/training), or try hanging out in the #sens

[2016-04-06 23:28] #1158 closed

[2016-04-06 23:30] calebhailey commented on #1156
@nhooey thanks for this submission - I've created an issue for this in the sensu-docs repo, and tagged it for the 0.24 documentation (we've got a lot in the queue for the 0.23 docs already).

#monitoringlove

[2016-04-06 23:38] calebhailey commented on #1152
@johntdyer thanks for this submission! This is a known issue, which we are now tracking in the sensu-build repo.

[2016-04-06 23:44] calebhailey commented on #1149
@runningman84 his is currently supported via the Sensu Plugin gem, so any Sensu handler plugins that are based on the Sensu Plugin gem will support the dependencies attribute; see here for additional information: https://sensuapp.org/docs/0.21/checks#sensu-plugin-attributes

It is also possible to implement custom dependency resolution in custom Sensu handlers. The handler would simply need to que

[2016-04-06 23:44] #1149 closed

[2016-04-06 23:56] calebhailey commented on #1148
@cruschke so, after some internal discussion, we all think this is a very cool idea, but it would also require a lot of work.

Historically, we have always recommended that checks can be tested by executing the commands in the same way as the Sensu client would. Have you attempted implementing a testing framework based on executing all of the defined [check commands](https://sensuapp.org/docs/0.23

[2016-04-07 00:01] calebhailey commented on #1147
This is by design; see here for more information: https://sensuapp.org/docs/latest/install-sensu-client#disabled-by-default (this applies to all of the Sensu processes). The Sensu packages will never do service management, however they will always provide the necessary service scripts to enable operators to manage its services.

See the new [Sensu on Ubuntu/Debian](https://sensuapp.org/docs/0.23/s

[2016-04-07 00:01] #1147 closed

[2016-04-07 00:06] portertech commented on #1144
Closing this, as the Sensu transport will not be able to support such routing configuration.

[2016-04-07 00:06] #1144 closed

[2016-04-07 00:09] portertech commented on #1140
`kill -TRAP $sensu-server-pid` where `$sensu-server-pid` is the Sensu server process ID.

[2016-04-07 00:09] #1140 closed

[2016-04-07 00:10] portertech commented on #1131
https://sensuapp.org/docs/latest/installation-strategies#standalone

[2016-04-07 00:14] calebhailey commented on #1145
@xyntrix thank you for submitting this issue. Sensu will not maintain backwards compatibility for old Rubies in future releases; in fact, yesterday's [0.23 release moved to Ruby 2.3 and dropped support for Rubies < 2.0](https://sensuapp.org/docs/0.23/changelog). Having said that, there are a few changes we have made and will make:

1. We have begun to and will continue to do a better job of docume

[2016-04-07 00:16] calebhailey commented on #1143
@CVTJNII thank you for this submission! We'll investigate this and tag it to a milestone as soon as we have a plan.

[2016-04-07 00:22] calebhailey commented on #1138
Created an issue for this in sensu-docs and tagged it for release with the 0.23 documentation.

[2016-04-07 00:25] calebhailey commented on #1136
@johntdyer can you provide some additional context around what you're trying to do with mutators? Perhaps there's an alternative solution for what you're trying to accomplish, or maybe some improvements to the documentation will help... please advise.

[2016-04-07 00:27] calebhailey commented on #1135
I inadvertently labeled this as "wrong repo" thinking this was an issue w/ sensu-build, but that's not the case.

We're tagging this for resolution along with the 0.24 release as this will impact Ubuntu 16.04 users.

[2016-04-07 00:41] #1134 closed

[2016-04-07 01:01] calebhailey commented on #1132
@basickarl I couldn't agree with you more, which is why we have given the installation guide a _major_ rewrite with the 0.22 docs! See [here](https://sensuapp.org/docs/latest/installation-guide) for the new installation guide.

As part of this rewrite, we've also started to explain in several different places that the Sensu Core _package_ (the installer), installs multiple processes, including `se

[2016-04-07 01:04] #1132 closed

[2016-04-07 01:07] calebhailey commented on #1129
@brianr25 closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

[2016-04-07 01:07] #1129 closed

[2016-04-07 02:53] jaredledvina commented on #1135
@calebhailey - Yes! Thank you!

[2016-04-07 04:47] pstadt commented on #1192
@portertech in 0.23.0-3 the problem disappeared

[2016-04-07 04:47] #1192 closed

[2016-04-07 07:01] runningman84 commented on #1187
Yes I have tried it but id did not work. Even though my clients use ntp I still got different start time for the checks and aggregation with only one value.

For example:

Check every 60s using 3 clients

05 client 1 check run
06 server builds aggregate (count 1)
16 client 2 check run
17 server builds aggregate (count 1)
30 client 3 check run
31 server builds aggregate (count 1)

[2016-04-07 07:30] roobert commented on #1187
In case it's helpful, I wrote a patch to do this a while ago but it was considered too-complicated a merge: https://github.com/sensu/sensu/pull/915/files

[2016-04-07 07:33] oryband commented on #1201
@calebhailey good to hear! Here are the feature I'd like to have:
 1. Have a "fresh" image with a "vanilla" clean installation without any plugins, handlers, mutators, etc..
 1. Have a readymade `ENTRYPOINT` which accepts `client`/`server`/`api` as an argument - like we did in Rounds' image.
  1. People might not wish to use volume mounts in order to add plugins, handlers, etc., but instead might

[2016-04-07 16:09] sstarcher commented on #1201
I agree with most of the points @oryband makes.
I would modify point 2.i. and say that most people should inherit from the image Sensu produces and do ```Run gem install sensu-plugin-*``` to get their required gems.

The docker image I linked above has a script that clones the git repos and builds the gem from master since my group does a lot of feature addition to the plugins.

So our set is more

[2016-04-07 16:37] calebhailey commented on #1210
@rs-mrichmond I think you're right that this is a duplicate. We finally triaged that issue yesterday and tagged it for resolution in the 0.24 packages (though it's possible that we'll fix this before we release 0.24). I'll go ahead and close this in favor of #1135, but feel free to comment here again if you disagree.

[2016-04-07 16:38] #1210 closed

[2016-04-07 16:42] calebhailey commented on #1124
Tagging this for a documentation improvement in the 0.23 docs.

[2016-04-07 16:43] calebhailey commented on #1122
Tagging this for 0.24 since it's such a small change.

[2016-04-07 16:51] calebhailey commented on #1118
@hany hi there. :)

I have only just skimmed over this issue as part of an ongoing triage of all open Sensu issues, but it looks like this issue hasn't been updated since we released version [0.22, which included support for client signatures](https://github.com/sensu/sensu/blob/master/CHANGELOG.md#0220---2016-01-29). There was also a subsequent bugfix, [in the 0.22.1 release](https://github.com/s

[2016-04-07 16:54] calebhailey commented on #1117
@davidneudorfer, @gsandie, @jmangs: this has been implemented as a new `--pring_config` or `-P` CLI argument; see here for more info: https://sensuapp.org/docs/0.23/changelog

Documentation will get released in a few days along with https://github.com/sensu/sensu-docs/pull/346 :)

I'm going to go ahead and close this, but feel free to create a new issue if you have any feedback on the new feature.

[2016-04-07 16:54] #1117 closed

[2016-04-07 16:57] calebhailey commented on #1116
It sounds like the original issue here was resolved, though it may be valuable to add some new tests to avoid future regressions. Should we close this, or leave it open until we add the tests?

/cc @portertech

[2016-04-07 17:01] calebhailey commented on #1113
Oh, this is an interesting idea. We'll revisit this soon and assign it to a milestone if we decide to implement it. In the interim, if there are specific suggestions or thoughts on how to approach this we're all ears! :smile:

[2016-04-07 17:02] calebhailey commented on #1107
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

[2016-04-07 17:02] #1107 closed

[2016-04-07 17:04] calebhailey commented on #1105
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

[2016-04-07 17:05] #1105 closed

[2016-04-07 17:10] calebhailey commented on #1097
@agoddard can you look into this? Perhaps there's some documentation clarifications that would help.

[2016-04-07 17:38] calebhailey commented on #1094
@davent hi there. :)

I'm curious if the new native Redis Sentinel support in Sensu 0.23 might resolve this issue for you? See here: https://sensuapp.org/docs/0.23/changelog and here: https://sensuapp.org/docs/0.23/redis#configuring-sensu-for-ha-redis

I'm going to go ahead and close this with the assumption that this solution will resolve this issue, but please feel free to open a new issue if yo

[2016-04-07 17:38] #1094 closed

[2016-04-07 17:46] calebhailey commented on #1091
@kaushiksriram100 closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

@poolski it looks like you were having an issue that ended up being unrelated to the OP's issue - it looks like the error had to do with your flapping configuration parameters being set as strings instead of integers, and older versions of Sensu weren't property validating and detec

[2016-04-07 17:46] #1091 closed

[2016-04-07 17:47] calebhailey commented on #1087
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

[2016-04-07 17:47] #1087 closed

[2016-04-07 17:49] calebhailey commented on #1084
@BarthV Sensu 0.23 was released this week with a new Ruby (version 2.3). See here for more information: https://sensuapp.org/docs/0.23/changelog

I'm going to presumptively close this issue, but please feel free to create a new issue if the matter is not resolved.

#monitoringlove

[2016-04-07 17:49] #1084 closed

[2016-04-07 17:53] calebhailey commented on #1078
Closing this as it looks like this was merged a long time ago! \o/

#monitoringlove

[2016-04-07 17:53] #1078 closed

[2016-04-07 17:54] portertech commented on #1080
As of Sensu 0.23.0, this failure case will no longer happen, the client will continue to attempt to reconnect to the transport. If the sensu-client encounters an unexpected error, it will exit with a non-zero exit status.

[2016-04-07 17:54] #1080 closed

[2016-04-07 17:55] calebhailey commented on #1077
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved.

[2016-04-07 17:55] #1077 closed

[2016-04-07 17:57] calebhailey commented on #1075
Looks like this one fell of the radar, but it should be really easy to implement in 0.24.

[2016-04-07 18:01] calebhailey commented on #704
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-07 18:01] #704 closed

[2016-04-07 18:01] calebhailey commented on #1074
@franceesco hi there. :)

Sorry for the radio silence on this one. Is this still an issue for you? Please advise and we'll resume discussion about a potential solution. :)

[2016-04-07 18:02] calebhailey commented on #1071
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-07 18:02] #1071 closed

[2016-04-07 18:03] calebhailey commented on #1070
Tagging for 0.24.

[2016-04-07 18:07] amdprophet commented on #764
This feature has been implemented since 0.19.0. Please see the following documentation for instructions on how to use it: https://sensuapp.org/docs/latest/clients#round-robin-client-subscriptions

[2016-04-07 18:07] #764 closed

[2016-04-07 18:09] calebhailey commented on #1097
Related: https://github.com/sensu/sensu/issues/1067

[2016-04-07 18:18] amdprophet commented on #761
Closing this out as this issue should be fixed by using the new [sensu-plugins-mailer plugin](https://github.com/sensu-plugins/sensu-plugins-mailer). Please open any future plugin-related issues with the new plugin repositories.

#monitoringlove

[2016-04-07 18:18] #761 closed

[2016-04-07 18:40] kobbe opened #1211 "Log api"
The API should support access to the sensu (server) logs so that they can be displayed in uchiwa.

Scenario: You edit a check in sensu and restart, checking uchiwa to see that it worked but the check is not there. You now have to dig into the log files to find the error which is not very user friendly.

[2016-04-07 18:53] rvanantwerp commented on #1199
Thanks for the advice and insight - the missing feature that wasn't inherently obvious to me: sensu-install merely downloads a gem via the embedded rubygems. I didn't see this in the documentation (I may have missed it), but fortunately my enterprise's rubygems mirror sufficed by specifying the custom source.

[2016-04-07 18:53] #1199 closed

[2016-04-07 19:14] johntdyer commented on #1136
@calebhailey So we this one process which returns a list of IP's it can not reach.  We have a mutator which checks this list of IP's against another source of truth to see if they are out of routing

[code]

Sometimes we take a runtime out of routing for maintenance and there is no reason to get a page for a blacklisted runtime in that case.

I think what I would love to see is if you could have a

[2016-04-07 20:09] hany commented on #1118
Hi @calebhailey,

Yes, the changes released in 0.22 satisfies this particular issue, and it can now be considered resolved. For those wishing to further enhance security, documenting restrictive RabbitMQ ACLs will be essential.

[2016-04-07 20:38] asciifaceman commented on #1209
If I may, until this is fixed (if it can be in ruby), could a note be put in the documentation to avoid 2 days of frustration?

[2016-04-07 21:52] danpopp opened #1212 "Sensu API malfunctioning on Fedora 23"
After upgrading to the latest version of Sensu (0.23), the Sensu API service is no longer responding to requests. When using cURL directly on http://localhost:4567/|endpoint-name| the response either times out or is returned empty. The Uchiwa dashboard also cannot access the Sensu API after upgrade and returns the following error message in console "http: request canceled (Client.Timeout exceeded

[2016-04-07 22:05] calebhailey commented on #1209
@asciifaceman yes, we should have a documentation update up by tomorrow morning at the latest. Our apologies for the frustration. Unfortunately this isn't an issue with Sensu itself as much as a general configuration/operation issue, which we didn't catch in our tests. In this case, Sensu resolving `localhost` to ::1 isn't actually incorrect (as Sensu does support IPv6), but if Redis isn't configu

[2016-04-07 23:48] calebhailey commented on #1209
@asciifaceman I think this should be addressed in https://github.com/sensu/sensu-docs/pull/346/commits/a9ac5eb4c8811855acc34e23ae46a930211ea59d, but let me know if that doesn't make sense to you. Barring any further input, this should get shipped as part of https://github.com/sensu/sensu-docs/pull/346 (hopefully tomorrow morning).

[2016-04-07 23:50] asciifaceman commented on #1209
I think it is logical since ruby will likely always default to ::1 for localhost (because screw legacy infrastructures! or something), which I do not agree with but c`est la vie.

[2016-04-07 23:55] calebhailey commented on #1209
@asciifaceman cool, thanks for the quick reply! And sorry again that you got stung by this. #monitoringlove

[2016-04-08 00:04] asciifaceman opened #1213 "Sensu not picking up new handlers?"
I have added a new handler:

[code]

and added it:

[code]

However it seems to only recognize default (arguably ignoring the handlers line entirely, since if I remove this it still uses default as per documentation says it would):

[code]

**"message":"handler output","handler":{"type":"pipe","command":"cat","name":"default"}**

[code]

If I modify the default handler, it picks it up, but won't p

[2016-04-08 00:10] asciifaceman commented on #1213
Out of curiosity, is it because I used "handlers" instead of "handler" while following documentation? It seems sensu configures itself by merging json?

[2016-04-08 06:27] fessyfoo commented on #1113
There's a related concept here.

in sensu there is only the stash.   in nagios there is "Ack" and "downtime"     I've since realized that sesu's stash is currently equivalent to nagios "downtime"  in that it doesn't clear when a check goes green.     Now one could make a handler clear the stash of any check that went green.  which would turn the "downtime" stash into an "ack" stash.  but then you

[2016-04-08 07:46] wbrodie commented on #1209
Please make a note in your documentation as thus wasted so much of my time! First impressions... http://serverfault.com/questions/768921

[2016-04-08 09:33] ctheune opened #1214 "sensu-client: stuck (not reconnecting) after connection to AMQP server went away"
Recently I noticed multiple instances where the sensu-client would end up in a "stuck" state after the AMQP server was temporarily unavailable.

[code]

End then it sits there without the situation ever improving. I guess this is somewhat related to #842, although that is only about making it more visible. I'd love to avoid sensu-client getting stuck as this makes it quite unreliable if we don't n

[2016-04-08 09:34] ctheune commented on #812
Interestingly, the keepalive didn't turn red.

[2016-04-08 09:37] ctheune commented on #1214
For some interesting reason the keepalive also did not turn red.

[2016-04-08 09:43] ctheune commented on #1214
Ah, well. Obviously the server was gone, too:

[code]

[2016-04-08 10:22] roobert commented on #1075
@calebhailey good stuff!

[2016-04-08 16:55] asciifaceman commented on #1201
imho I enjoy the way Rancher dockerized.

Internally the docker image has everything it would require to run as a "standalone", including database and any messaging layers etc.

However using environment variables, you can override those with your external/clustered versions easily.

The downside to alpine for anyone who hasn't used it extensively, is just to install Sensu you are going to lose th

[2016-04-08 16:56] calebhailey commented on #1209
The installation guides have been updated with warnings about IPv6 localhost resolution; e.g.: https://sensuapp.org/docs/latest/install-redis-on-rhel-centos#example-standalone-configuration

[2016-04-08 18:21] nhooey opened #1215 "Sensu API never starts listening when transport never successfully connects"
When the Sensu API is started up, the debug message: `connecting to transport` prints, and if the connection fails for a more subtle reason than `Connection refused`, Sensu constantly attempts to reconnect every 2 seconds, without the `Transport.connect()` ever yielding a `connection` object.

On startup when the `transport` connection fails, this prevents the API from ever listening.

This proble

[2016-04-08 18:22] nhooey commented on #1212
This problem is likely platform-agnostic, and this bug is very likely a duplicate of #1215.

[2016-04-08 18:35] danpopp commented on #1212
It's possible, however; I haven't experienced any problems so far on Ubuntu 12.04 LTS, Debian Wheezy, Debian Jessie, Fedora 20, Fedora 21, or Fedora 22... So far, I have only been able to replicate this particular failure with Fedora 23.

[2016-04-08 19:05] nhooey commented on #1212
You need to find out what versions of Sensu are running on those distributions. The distribution itself is much less important.

[2016-04-08 20:07] danpopp commented on #1212
Thanks for the protip. As stated, the issue is reproducible for me only on Fedora 23 and only when using the latest Sensu API (version 0.23). The issue is remedied by downgrading to a prior version.

[2016-04-08 20:32] nhooey commented on #1212
I'm probably incorrect, then. Sorry I hadn't read your issue thoroughly enough.

[2016-04-08 21:14] calebhailey opened #1216 "Use a less ambiguous HTTP status code for the `/health` API"
The `/health` API is currently [hard coded][1] to return a [503 (Service Unavailable) HTTP status code][2], which is often misleading for new users. It also has a potentially ambiguous meaning, in that the API could actually be under load or otherwise unavailable and return a 503.

According to the HTTP response code specific (RFC2616), 5xx response codes should be used to indicate that the server

[2016-04-08 23:06] calebhailey commented on #1075
I propose we call the attribute `origin`.

[2016-04-09 02:23] amdprophet commented on #1216
:+1:

This is a breaking change for anyone who may be relying on a 503 status code. We'll need to make sure to document this well.

[2016-04-09 15:33] calebhailey commented on #1049
Closing due to inactivity. Please feel free to create a new issue in sensu/sensu-build if this matter is not resolved. #monitoringlove

[2016-04-09 15:33] #1049 closed

[2016-04-09 15:47] calebhailey commented on #1044
Interesting issue. I wondered if perhaps Sensu's ability to accept an array of RabbitMQ endpoints would satisfy this issue, but according to the [Sensu documentation on RabbitMQ configuration][1], Sensu will randomly sort those RabbitMQ endpoints, so you wouldn't have control over the priority.

I wonder if we could add support for a transport "fallback" with a configurable threshold for when the

[2016-04-09 15:55] calebhailey commented on #1043
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 15:55] #1043 closed

[2016-04-09 16:04] calebhailey commented on #1187
@runningman84 thanks for your update; @roobert thanks for your contribution as well. I know this is on the short list of things @portertech wants to improve in the near future, so stay tuned for some updates on this.

[2016-04-09 16:17] calebhailey opened #1218 "DISCUSS: Aggregates 2.0 (including support for standalone check aggregates)!"
This is a meta issue, er, _aggregating_ all outstanding issues & PRs related to **Sensu aggregates** into a single location for discussion and eventual implementation. If you are aware of a related issue or PR &ndash; open or closed &ndash; please comment on this issue with a link, so we can take every scenario into consideration before designing Aggregates 2.0.

Related issues:

- https://github.

[2016-04-09 16:20] calebhailey commented on #1041
Tagged this for renewed discussing in #1218.

[2016-04-09 16:26] calebhailey commented on #1038
It looks like this issue was resolved in [Sensu 0.21][1]:

Having said that, it doesn't seem to be documented yet, so I created https://github.com/sensu/sensu-docs/issues/361 to track that effort. I'll go ahead and close this ticket now.

[1]: https://github.com/sensu/sensu/blob/master/CHANGELOG.md#0210---2015-11-13

[2016-04-09 16:26] #1038 closed

[2016-04-09 16:28] calebhailey commented on #1037
Presumptively tagging this for 0.24.

[2016-04-09 16:28] calebhailey commented on #1036
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 16:28] #1036 closed

[2016-04-09 16:30] sstarcher commented on #1201
@asciifaceman Doing it that way would be fine for an additional easy to use package, but that should not be the only package created.  At a minimum a minimum setup should be created that is designed to only run a single process.

1. Minimum alpine container
2. All in one container

[2016-04-09 16:32] calebhailey commented on #1032
Looks like this should have been closed, so I'm going to go ahead and close it. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 16:32] #1032 closed

[2016-04-09 16:33] calebhailey commented on #1029
@chiriaev @thomaslitton native support for Redis Sentinel was implemented in Sensu 0.23, which was released this past week! \o/

See: https://sensuapp.org/docs/0.23/changelog

I'm going to go ahead and close this with a :boom:

[2016-04-09 16:33] #1029 closed

[2016-04-09 17:23] analytically commented on #1216
4xx are client errors, 5xx server errors.

[2016-04-09 17:25] calebhailey commented on #1027
@jaimegago - interesting issue, and there are some good ideas in here, but a solution isn't as obvious...

Storing a config SHA per Sensu server does sound interesting, though definitely doesn't account for whether the actual handler executables themselves are installed and/or are the same/correct version. Having said that, although there are a lot of seemingly obvious solutions, they all have the

[2016-04-09 17:29] calebhailey commented on #1037
Actually, I believe this was silently resolved in https://github.com/sensu/sensu-build/commit/e78a20ac2ce0835271a35f9375a5027329a45881 and included the 0.22.1+ packages. I'm going to presumptively close this issue, but please feel free to create a new issue if this isn't actually resolved. #monitoringlove

[2016-04-09 17:29] #1037 closed

[2016-04-09 17:30] calebhailey commented on #1025
Tagging this for 0.24.

[2016-04-09 17:32] calebhailey commented on #1014
Created https://github.com/sensu/sensu-transport/issues/28 to track this issue and will close this now.

[2016-04-09 17:32] #1014 closed

[2016-04-09 17:39] calebhailey commented on #1012
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

FWIW, we have published _several_ documentation enhancements, including brand new documentation for [Sensu on Microsoft Windows][1] that may help demystify some Windows configuration issues.

[1]: https://sensuapp.org/docs/0.23/sensu-on-microsoft-windows

[2016-04-09 17:39] #1012 closed

[2016-04-09 17:45] calebhailey opened #1219 "DISCUSS: Subdue 2.0!"
Creating another meta ticket here, to aggregate all outstanding issues & PRs related to subduing checks and handlers (i.e. notification signal/noise) into a single location for discussion and eventual implementation. If you are aware of a related issue or PR – open or closed – please comment on this issue with a link, so we can take every scenario into consideration before designing Subdue 2.0.

R

[2016-04-09 17:48] calebhailey commented on #1004
Subdue is one of the big ticket items on our todo list. I created meta issue #1219 to pull this into a larger discussion about a subdue redux. #monitoringlove

[2016-04-09 17:49] calebhailey commented on #1184
Related: https://github.com/sensu/sensu/issues/1002

[2016-04-09 17:50] calebhailey commented on #1002
#1184 is a duplicate of this, which we tagged for release in 0.24, so I'll do the same here and we'll close both of these at the same time.

[2016-04-09 17:59] calebhailey commented on #1001
At first I thought this might be related to https://github.com/sensu/sensu-settings/pull/11, but it looks like this might be a bug.

@ctheune, @jeremybz can you confirm this is still an issue w/ [Sensu 0.23, which now ships with an embedded Ruby 2.3][1]. I wonder if underlying Ruby enhancements might have helped us out. :pray: :smile:

[1]: https://sensuapp.org/docs/0.23/changelog

[2016-04-09 18:01] calebhailey commented on #999
@warmfusion hi there! Thanks for submitting this issue! I've tagged this for renewed discussion around a subdue redux.

[2016-04-09 18:04] calebhailey commented on #997
Tagged this for renewed discussion around a subdue redux; see #1219

[2016-04-09 18:05] calebhailey commented on #996
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 18:05] #996 closed

[2016-04-09 18:17] calebhailey commented on #991
Here's the code confirming @portertech's comments indicating that severity filtering is intentionally ignored for "resolve" action events: https://github.com/sensu/sensu/blob/a17c29c85364b7dc3cb6d8ca4600fddd1e0b62fd/lib/sensu/server/filter.rb#L139-L168

@sstarcher: I haven't tested this but I wonder if a filter could do the trick?

[code]

In this example, this filter would only negate events that

[2016-04-09 18:17] #991 closed

[2016-04-09 18:19] calebhailey commented on #1025
Related: https://github.com/sensu/sensu/issues/990

[2016-04-09 18:25] calebhailey commented on #990
Closing due to inactivity, and because this isn't an issue with Sensu itself. Please feel free to create a new issue if this matter is not resolved.

@luisdalves you don't need to use Sensu Enterprise to solve this problem - all @portertech was saying is that we already have solved this problem in Sensu Enterprise, so you're welcome to take advantage of that... https://sensuapp.org/get-started :sm

[2016-04-09 18:25] #990 closed

[2016-04-09 18:33] calebhailey commented on #989
@sstarcher hi there. Sorry for the radio silence on this issue. I'm assuming you've figured this out by now, but if not (or if you aren't aware of this relatively new resource), we've since documented how Sensu configuration works in pretty significant detail: https://sensuapp.org/docs/latest/configuration

We've also added [a new CLI option called `--pring_config` in Sensu 0.23][1] that will help

[2016-04-09 18:33] #989 closed

[2016-04-09 18:34] calebhailey commented on #988
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 18:34] #988 closed

[2016-04-09 18:41] calebhailey commented on #987
@maticmeznar hi there! Sorry for the radio silence!

I wonder if the new [`--pring_config` CLI option][1] in [Sensu 0.23][2] would help alleviate this issue? With this new CLI option it's possible to ask Sensu to compile configuration and then quit, outputting the compiled configuration to STDOUT. It seems like you could use this option to test configuration changes before restarting the Sensu ser

[2016-04-09 18:41] #987 closed

[2016-04-09 18:42] calebhailey commented on #1216
Related: https://github.com/sensu/sensu/issues/987

[2016-04-09 18:49] calebhailey commented on #1216
@analytically this was heavily debated yesterday within our team, but the definition for response code 412 seems to match up pretty well with the use case here.

If we want to get super technical, we actually think a 2xx response code with a header or payload indicating that the condition was not met would be the most accurate/correct, because the server _is_ successfully responding to the request

[2016-04-09 18:51] calebhailey commented on #987
Oops, ignore that reference - I pasted the wrong link. :)

[2016-04-09 18:52] calebhailey commented on #984
@somic hi there! Sorry for the radio silence on our side!

We just arrived at the same conclusion yesterday and created an issue & PR with a proposed resolution, here: #1216

I'd love your comments/feedback on that before we implement it in the 0.24 release.

[2016-04-09 18:54] calebhailey commented on #982
Closing due to OP inactivity, and because it doesn't look like this is an issue with Sensu itself. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 18:54] #982 closed

[2016-04-09 18:55] calebhailey commented on #981
@kosli hi there! Sorry for the radio silence on this!

Is this still an issue? Please advise.

[2016-04-09 18:57] calebhailey commented on #974
Closing because it looks like this was resolved.

[2016-04-09 18:57] #974 closed

[2016-04-09 18:57] calebhailey commented on #815
Closing because it looks like this was resolved w/ #974

[2016-04-09 18:57] #815 closed

[2016-04-09 19:02] calebhailey commented on #973
@magmax hi there! Sorry for the radio silence on this!

I'm curious if your use case for multiple mutators is similar to this issue: https://github.com/sensu/sensu/issues/1175

[Sensu 0.23][1] was released this week with support for [Filter attribute eval tokens][2], which make filters significantly more powerful & potentially eliminate the need for some mutators.

[1]: https://sensuapp.org/docs/0

[2016-04-09 19:03] calebhailey commented on #958
@mag009 hi there! Sorry for the radio silence on this. :smile:

I've tagged this issue for renewed discussion on a subdue redux in #1219. I'd love your input/feedback on that conversation as it evolves.

[2016-04-09 19:06] calebhailey commented on #955
@warmfusion hi there! Sorry for the radio silence on this. Several [Sensu Transport][1] enhancements have been made since your last update here, and [Sensu 0.23 introduces further enhancements RE: deferrable transport connections][2]. Is this still an issue for you or can we close it?

[1]: https://sensuapp.org/docs/latest/transport
[2]: https://sensuapp.org/docs/0.23/changelog

[2016-04-09 19:13] calebhailey commented on #948
@Akshaykapoor, @hanynowsky, et al: hi there! Sorry for the radio silence on this. It sounds like there was never a Sensu bug here, but rather some issues related to system clocks being out of sync, and a strange Redis clustering issue.

FWIW, we have an in-progress issue for making the NTP configuration requirement more obvious in the Sensu docs, here: https://github.com/sensu/sensu-docs/issues/35

[2016-04-09 19:13] #948 closed

[2016-04-09 19:14] calebhailey commented on #939
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 19:14] #939 closed

[2016-04-09 19:15] benh57 commented on #815
Nah, we aren't using any sort of openvz container and i've seen this often in the past.  However, i haven't seen this issue in a while. So i'll re-open only if i do.

[2016-04-09 19:16] calebhailey commented on #938
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

FWIW, [Sensu just ditched MultiJSON in 0.23][1] :smile:

[1]: https://sensuapp.org/docs/0.23/changelog

[2016-04-09 19:16] #938 closed

[2016-04-09 19:33] calebhailey commented on #935
@mag009 hi there! Sorry for the radio silence on this!

This is an interesting issue, and one that @agoddard and I have discussed internally a bit recently.

It seems to me like there could be an opportunity to support some sort of solution via the [`/request` API endpoint][1], which already provides the ability to override defined check "subscriptions" in the API request. It seems like the only d

[2016-04-09 19:34] calebhailey commented on #935
I'm going to presumptively tag this for 0.24 to prompt some discussion over the next few weeks.

[2016-04-09 20:48] sandeepmendiratta commented on #1037
Thank you for the update. I will test this out and report back,

[2016-04-09 21:41] calebhailey commented on #930
Closing in favor of https://github.com/sensu/sensu-transport/issues/11 which we'll revisit soon.

[2016-04-09 21:41] #930 closed

[2016-04-09 21:42] calebhailey commented on #927
Closing due to inactivity, and because it sounds like this was probably not a sensu issue. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 21:42] #927 closed

[2016-04-09 21:44] calebhailey commented on #913
Closing due to inactivity (mostly on our part), and because this shouldn't be an issue unless users are upgrading from super old versions of Sensu. Please feel free to create a new issue if this matter is not resolved, in which case we'll revisit the upgrade documentation. #monitoringlove

[2016-04-09 21:44] #913 closed

[2016-04-09 21:45] calebhailey commented on #911
Closing due to inactivity, and because I believe we resolved all these issues last year. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 21:45] #911 closed

[2016-04-09 21:46] calebhailey commented on #909
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 21:46] #909 closed

[2016-04-09 21:47] calebhailey commented on #907
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 21:47] #907 closed

[2016-04-09 21:48] calebhailey commented on #935
Related: https://github.com/sensu/sensu/issues/900

[2016-04-09 21:50] calebhailey commented on #900
@david-strejc hi there! My apologies for the radio silence on our end.

It looks like https://github.com/sensu/sensu/issues/935 is a duplicate or very similar to this issue, which I have presumptuously tagged for potential inclusion into 0.24. Make sure to check on #935 for updates. :smile:

[2016-04-09 21:52] calebhailey commented on #884
Closing due to inactivity (mostly on our part), and because this is for a super old version of Sensu. Please feel free to create a new issue if this matter is not resolved in the latest release. #monitoringlove

[2016-04-09 21:52] #884 closed

[2016-04-09 21:53] calebhailey commented on #882
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 21:53] #882 closed

[2016-04-09 22:02] calebhailey commented on #877
@terrorobe @yanc0 hi there! Sorry for the radio silence on this one.

There have been several new enhancements to the Sensu transport in the latest Sensu releases (multiple 0.22 releases, and a 0.23 release), as well as an upgrade to the underlying Ruby (upgraded to 2.3) in [Sensu 0.23][1], so I'm going to presumptively close this issue. Please feel free to open a new issue if this problem persist

[2016-04-09 22:02] #877 closed

[2016-04-09 22:03] calebhailey commented on #876
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:03] #876 closed

[2016-04-09 22:04] calebhailey commented on #874
Closing due to inactivity, and because there have been a ton of Windows improvements in recent releases. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:04] #874 closed

[2016-04-09 22:05] calebhailey commented on #871
Closing due to inactivity, and because I don't think this is an issue anymore. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:05] #871 closed

[2016-04-09 22:08] calebhailey commented on #869
Thanks @xyntrix. Let us know if you see this pop up again.

[2016-04-09 22:08] #869 closed

[2016-04-09 22:10] calebhailey commented on #868
Closing due to inactivity, and because EMBEDDED_RUBY has been enabled by default since Sensu 0.21 and there haven't been any further reports of this issue. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:10] #868 closed

[2016-04-09 22:11] calebhailey commented on #935
Potentially related: https://github.com/sensu/sensu/issues/864

[2016-04-09 22:12] calebhailey commented on #864
Closing due to inactivity, although I'm noting that this may benefit from proposed changes in #935. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:12] #864 closed

[2016-04-09 22:16] calebhailey commented on #862
Closing due to inactivity, and because it looks like all the related PRs have been merged. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:16] #862 closed

[2016-04-09 22:17] calebhailey commented on #759
Closing due to inactivity, and because following links to the related issues/PRs is showing related resolutions. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:17] #759 closed

[2016-04-09 22:19] calebhailey commented on #931
Related: https://github.com/sensu/sensu/issues/861

[2016-04-09 22:20] calebhailey commented on #861
Similar to #931. Tagging both with Feature labels for further consideration.

[2016-04-09 22:20] calebhailey commented on #859
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:20] #859 closed

[2016-04-09 22:24] calebhailey commented on #855
@soupdiver hi there! Sorry for the radio silence on this!

There's never been very good documentation around the default handler, IMO, but we've tagged that for inclusion in the 0.23 docs (the current release), here: https://github.com/sensu/sensu-docs/issues/98

Having said that, I'm going to go ahead and close this issue due to inactivity (mostly on our part) and track this effort on https://git

[2016-04-09 22:24] #855 closed

[2016-04-09 22:28] calebhailey commented on #853
This was implemented as ["JIT Clients" in Sensu 0.18 (released in May 2015)][1], which we are now starting to call ["Proxy Clients"][2] in the latest versions.

[1]: https://github.com/sensu/sensu/blob/master/CHANGELOG.md#0180---2015-05-05
[2]: https://sensuapp.org/docs/latest/clients#proxy-clients

[2016-04-09 22:28] #853 closed

[2016-04-09 22:37] calebhailey commented on #852
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:37] #852 closed

[2016-04-09 22:43] calebhailey commented on #850
@runningman84 @warmfusion: hi there. Sorry for the radio silence on this.

I'm going to give this the "Feature" label as part of an ongoing issues triage. No recent internal discussion has happened about this, so this isn't a commitment to actually implement a new feature, but it will flag it for renewed discussion.

#monitoringlove

[2016-04-09 22:46] calebhailey commented on #1196
Related: https://github.com/sensu/sensu/issues/849

[2016-04-09 22:51] calebhailey commented on #849
@ghicks-rmn hi there. Sorry for the radio silence on this.

I'm tagging this as a feature as part of an ongoing issues triage. This doesn't mean we've decided to implement it, but it does mean we'll revisit this soon. I'm also noting that this could potentially be related to #1196, which we have flagged for 0.24, so this should at least get some fresh attention in the next few weeks. :smile:

[2016-04-09 22:53] calebhailey commented on #844
@gwinans hi there! Sorry for the radio silence on this! I'm going to go ahead and close this due to inactivity (mostly on our part), and because I'm presuming you figured this out. Also, the sensu keepalive mechanism is one of the more critical components of the software, so if this was a widespread issue related to Sensu itself I'm certain we'd be overwhelmed with similar issues. Please feel free

[2016-04-09 22:53] #844 closed

[2016-04-09 22:54] calebhailey commented on #843
Closing due to inactivity, and because I'm pretty sure we resolved this issue ages ago. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 22:54] #843 closed

[2016-04-09 22:57] calebhailey commented on #842
Tagging this for inclusion in version 0.24. Nice work @nhooey!

[2016-04-09 23:02] calebhailey commented on #838
@jaxxstorm as part of an ongoing issues triage I'm labeling this issue with the Feature flag, which will prompt some renewed discussion around a potential solution. This isn't a commitment that we will implement a new feature, but we will definitely revisit this soon. There are handful of other issues floating around in which we're considering adding support for query parameters to the API, so _so

[2016-04-09 23:03] nhooey commented on #842
Great, thanks Caleb.

I've been reading your replies to issues and you're doing an amazing job explaining priorities and debating proposed solutions. Beat job I've seen in open-source. Keep it up!

Are you a product manager?

[2016-04-09 23:05] calebhailey commented on #837
I created a new #monitoringlove just for this issue, because this is just great. Best issue ever.

[2016-04-09 23:07] calebhailey commented on #835
Closing due to inactivity, and because this is related to a super old version of Sensu. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:07] #835 closed

[2016-04-09 23:10] calebhailey commented on #834
Closing due to inactivity, although there have been more recent discussions around this idea. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:10] #834 closed

[2016-04-09 23:11] calebhailey commented on #833
Closing due to inactivity (mostly on our part). Please feel free to create a new issue if this question has not been answered. #monitoringlove

[2016-04-09 23:11] #833 closed

[2016-04-09 23:15] calebhailey commented on #825
Closing due to inactivity (mostly on our part). Please feel free to create a new issue if this matter is not resolved.

FWIW, I definitely agree that the docs have always had room for improvement. We initially invested a large amount of time in a documentation rewrite around the spring of 2015 for Sensu version 0.17 (and the initial release of Sensu Enterprise), with several smaller iterations and

[2016-04-09 23:15] #825 closed

[2016-04-09 23:16] calebhailey commented on #817
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:16] #817 closed

[2016-04-09 23:17] calebhailey commented on #806
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:17] #806 closed

[2016-04-09 23:18] calebhailey commented on #842
@nhooey among other things, yes. :smile:

Thanks for the vote of confidence!

[2016-04-09 23:19] calebhailey commented on #803
Tagged this in a new meta issue to discuss an aggregates redux. Would love comments on #1218

[2016-04-09 23:20] calebhailey commented on #801
Closing due to inactivity, and also because several security configuration details have been documented over the past year (with more still in the works). Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:20] #801 closed

[2016-04-09 23:22] calebhailey commented on #796
Closing due to inactivity, and because we have made a lot of improvements to the website (although I'm looking forward to launching a new website in the coming months that will make this a lot more obvious). Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:22] #796 closed

[2016-04-09 23:24] calebhailey commented on #792
This was implemented quite a while ago. Leader election activities are logged in the Sensu server logs, and leader election is even documented as of version 0.22 docs! See: https://sensuapp.org/docs/latest/server \o/

I'm going to go ahead and close this, but please feel free to create a new issue if this matter is not fully resolved. #monitoringlove

[2016-04-09 23:24] #792 closed

[2016-04-09 23:26] calebhailey commented on #783
Closing due to inactivity, and because [Sensu just ditched MultiJSON in 0.23][1]. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[1]: https://sensuapp.org/docs/0.23/changelog

[2016-04-09 23:26] #783 closed

[2016-04-09 23:26] calebhailey commented on #781
Closing due to inactivity, and because it looks like the PR fix for this was merged ages ago. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:26] #781 closed

[2016-04-09 23:27] #779 closed

[2016-04-09 23:30] calebhailey commented on #777
@chiriaev hi there! :wave:

Sorry for the radio silence on this. I'm giving this issue a "feature" label as part of an ongoing issues triage, but I'm also going to add this to the list of related issues on the new meta issue aimed to revive a discussion around a subdue redux; see: https://github.com/sensu/sensu/issues/1219

[2016-04-09 23:32] calebhailey commented on #775
Closing due to inactivity (mostly on our part), but also because these are super old versions of Sensu now. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:32] #775 closed

[2016-04-09 23:33] calebhailey commented on #774
Closing due to inactivity (mostly on our part), but also because this would have been referencing what is now a super old version of Sensu. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:33] #774 closed

[2016-04-09 23:34] calebhailey commented on #773
Closing due to inactivity (mostly on our part), but also because this is reference what is now a super old version of Sensu. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:34] #773 closed

[2016-04-09 23:35] calebhailey commented on #770
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:35] #770 closed

[2016-04-09 23:36] calebhailey commented on #768
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:36] #768 closed

[2016-04-09 23:37] calebhailey commented on #766
Tagged this in #1218 for renewed discussion. Adding the "feature" label here as well.

[2016-04-09 23:37] #766 closed

[2016-04-09 23:39] calebhailey commented on #762
Closing due to inactivity, although we _still_ need to improve extension documentation - but we are tracking this for implementation in the 0.23 or 0.24 docs (FINALLY), here: https://github.com/sensu/sensu-docs/issues/189. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:39] #762 closed

[2016-04-09 23:39] calebhailey commented on #757
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:39] #757 closed

[2016-04-09 23:39] calebhailey commented on #754
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-09 23:39] #754 closed

[2016-04-10 00:02] mag009 commented on #935
wonderful!

[2016-04-10 00:03] mag009 commented on #958
I will follow the new thread that you've started than thx.

[2016-04-10 05:34] runningman84 commented on #801
This is still an open issue. The lack of activity is concerning to me.

[2016-04-10 14:18] kosli commented on #981
@calebhailey i just tested it with the packages for 0.23 and it works. thanks a lot!

[2016-04-10 14:18] #981 closed

[2016-04-10 18:01] magmax commented on #988
It has no sense to me to take in mind the indentation (that is not in the JSON standard).

Finally I moved to c# sensu client (https://github.com/carllindelof/sensu-client) to make it work.

[2016-04-10 18:06] magmax commented on #973
I see filters and mutators like different features. A filter decides if the handler should be applied or not, and a mutator modifies the content. I'm not sure if current filters allow to modify the content, so multiple mutator should be supported too (and it is easier to understand, because if filters can be chained, why not mutators?)

Anyways, I do not need it right now, but I think it is an int

[2016-04-10 23:11] calebhailey commented on #747
@ball-hayden could you try to reproduce this with 0.23? I wonder if the new improvements to Sensu transport will help resolve this issue; see: https://sensuapp.org/docs/0.23/changelog

[2016-04-10 23:16] calebhailey commented on #736
Looks like this should have been closed a long time ago.

[2016-04-10 23:16] #736 closed

[2016-04-10 23:23] calebhailey commented on #730
Closing due to inactivity (mostly on our part), but also because I'm pretty sure this has been fixed. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-10 23:23] #730 closed

[2016-04-10 23:26] calebhailey commented on #1118
Thanks @hany. I'm going to go ahead and close this; we'll track the ACL documentation with this issue, which we're hoping to close in the next few weeks: https://github.com/sensu/sensu-docs/issues/306

[2016-04-10 23:26] #1118 closed

[2016-04-10 23:34] calebhailey commented on #696
I'm giving this issue the "feature" label as part of an ongoing issues triage. This isn't a commitment that we're going to implement any new features, however it does mean we'll be revisiting this in the near future.

In the interim, we have also scheduled RabbitMQ ACL documentation for the upcoming 0.24 release, here: https://github.com/sensu/sensu-docs/issues/306, so we'll have an update on this

[2016-04-10 23:34] rhoml commented on #730
I don't work at that conpany anymore so I can't really test. FWIW in my personal setup runing latest sensu it seems to work properly.

[2016-04-10 23:36] calebhailey commented on #692
Closing due to inactivity, and because part of this request was resolved w/ Client keepalive client version info. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-10 23:36] #692 closed

[2016-04-10 23:39] calebhailey commented on #683
Closing per the latest comments that this issue was resolved by upgrading Erlang. Please feel free to open a new issue if this matter isn't fully resolved.

[2016-04-10 23:39] #683 closed

[2016-04-10 23:40] calebhailey commented on #587
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-10 23:40] #587 closed

[2016-04-10 23:50] calebhailey opened #1220 "DISCUSS: API Improvements"
Creating another meta ticket here, to aggregate all outstanding issues & PRs related to Sensu API improvements (e.g. support for wildcard queries and/or url-parameter based filtering, etc) into a single location for discussion and eventual implementation. If you are aware of a related issue or PR – open or closed – please comment on this issue with a link, so we can take every scenario into consid

[2016-04-11 01:20] calebhailey commented on #730
@rhoml great, thanks for the follow-up!

[2016-04-11 11:46] wbrodie opened #1221 "Unable to use sensu-install on Windows - bin not added to path in MSI"
C:\opt\sensu\bin\sensu-install.bat -p sensu-plugins-windows:0.0.10

[SENSU-INSTALL] installing Sensu plugins ...
[SENSU-INSTALL] provided Sensu plugins: ["sensu-plugins-windows:0.0.10"]
[SENSU-INSTALL] compiled Sensu plugin gems: ["sensu-plugins-windows:0.0.10"]
[SENSU-INSTALL] determining if Sensu plugin gem 'sensu-plugins-windows:0.0.10' is already installed ...
[SENSU-INSTALL] gem list -i sensu

[2016-04-11 12:08] wbrodie opened #1222 "Windows MSI installer creates path with double backslash"
[code]

`
C:\opt\sensu\\bin`

[2016-04-11 15:53] calebhailey commented on #550
I would close this due to inactivity, but I think this is still a valid suggestion (and some more recent issues have made similar suggestions). I've tagged this issue to include this in a renewed discussion about overall API improvements (see #1220). Please watch that issue for activity and participate there if you have any further thoughts to share. #monitoringlove

[2016-04-11 16:03] somic commented on #984
I am not particularly tied to any solution as long as a caller can tell these 2 situations apart. Your proposed solution sgtm.

[2016-04-11 16:07] calebhailey commented on #984
@somic thanks for the reply! We've tagged this change for the 0.24 release, so it should be implemented soon!

[2016-04-11 16:33] calebhailey commented on #1219
Related: https://github.com/sensu/sensu-extensions/pull/5

[2016-04-11 16:35] calebhailey commented on #1219
Related: https://github.com/sensu/sensu/pull/847

[2016-04-11 16:45] calebhailey commented on #1209
@GhostLyrics et al, I'm going to go ahead and close this issue as being resolved via documentation (e.g. [https://sensuapp.org/docs/latest/install-redis-on-rhel-centos#example-standalone-configuration](https://sensuapp.org/docs/latest/install-redis-on-rhel-centos#example-standalone-configuration)).

Please feel free to comment and/or open a new issue if anyone feels like this matter is not resolve

[2016-04-11 16:45] #1209 closed

[2016-04-11 17:44] calebhailey commented on #1222
Nice catch! :)

I think this belongs in https://github.com/sensu/sensu-build/issues (see: https://github.com/sensu/sensu-build/blob/0bd2a4334a5425997d4b98ea43f0e160b675e7e4/assets/msi/files/Sensu.wxs#L42).

[2016-04-11 17:50] wbrodie commented on #1222
Created an issue in the correct repo with your comment
https://github.com/sensu/sensu-build/issues/156

[2016-04-11 17:50] #1222 closed

[2016-04-11 17:54] rs-mrichmond commented on #1099
Merely putting the pubkey.gpg file in the github repo would solve the first https problem at no real cost.

[2016-04-11 17:59] wbrodie commented on #1221
@calebhailey  - should this be moved to the build repo as with my other issue?

[2016-04-11 18:18] calebhailey commented on #1221
@wbrodie yeah, I think so. Thanks! :+1:

[2016-04-11 18:21] wbrodie commented on #1221
Moved to here
https://github.com/sensu/sensu-build/issues/157

[2016-04-11 18:21] #1221 closed

[2016-04-11 19:07] mbregg1 commented on #1212
I'm seeing the same thing on CentOS 7.  Also tried disabling SELinux, and a couple of other things, but was forced to downgrade to restore functionality.

[2016-04-11 19:12] calebhailey commented on #1221
thanks @wbrodie :+1:

[2016-04-11 20:01] danpopp commented on #1212
Thanks for the info. I can concur that it's definitely not an SELinux-related issue. Haven't had time to investigate further, but as @nhooey suggests, using verbose/debug level logging might shed some additional light on what's happening under the hood.

[2016-04-11 23:06] joshzitting opened #1223 "different refresh intervals for warning and critical events"
Does anyone else have a use case for different refresh intervals for warning and critical events?
For example.. If my disk is at 85% (warning) it will probably be ok till the morning and thus send a reminder (handle the event) every few hours.. But if it is 90% it is critical and should remind us every 30 minutes until it has been resolved?

With nagios you had to do this with service escalations.

[2016-04-12 01:35] CVTJNII opened #1224 "Sensu Server 0.23.0-3 crashes connecting to Redis with the Flapjack handler extension installed"
[code]

Reverting back 0.22.1-1 works as expected, so I don't believe this to be a redis issue.

[2016-04-12 01:43] calebhailey commented on #935
I just realized that my proposed change to check command token substitution would be a breaking change. It would make it necessary to access client attributes with "dot notation" (e.g. `:::client.attribute:::`) rather than having "direct access" to the client attributes (e.g. `:::attribute:::`) requiring all existing check definitions using token substitution to be updated from "direct access" to

[2016-04-12 01:50] calebhailey commented on #1224
It looks like this is an issue with the Flapjack extension, which might need to be updated to work with the latest `sensu-redis` release (or pinned to an older version) which is used by Sensu 0.23.

[code]

There were a number of under-the-hood changes to Sensu's Redis implementation in order to enable native Redis Sentinel support, so any extensions that rely on sensu-redis will probably need to

[2016-04-12 01:55] CVTJNII commented on #1224
Aah, I didn't read the trace close enough.  This is an extension of https://github.com/sensu-plugins/sensu-plugins-feature-requests/issues/5, then  I'm assuming this is invalid as it isn't a Sensu server issue, then?  Perhaps some weight needs to be thrown behind https://github.com/sensu-plugins/sensu-plugins-feature-requests/issues/5?

[2016-04-12 02:48] calebhailey opened #1225 "Unmatched token detection regression?"
I can't seem to get unmatched check command tokens to log in Sensu 0.23. If I understand the code correctly, it looks like [the `find_attribute_value` method always returns a value][1], so the [`substitute_tokens` method will never capture unmatched tokens][2].

Also, although it does look like [there are tests for token substitution non-matches][3], they obviously haven't caught this, so the test

[2016-04-12 03:42] calebhailey commented on #1224
@CVTJNII yeah, https://github.com/sensu-plugins/sensu-plugins-feature-requests/issues/5 definitely needs some attention. I commented there and I'll bring it up during our internal weekly Sensu sprint this week. Let's keep this open until we make a decision on that.

[2016-04-12 03:44] CVTJNII commented on #1224
@calebhailey Thanks!

[2016-04-12 03:45] Lily913 opened #1227 "Sensu::API::Process can provide basic version and health information Failure/Error: api_test do RuntimeError:"
I am running latest sensu's test cases in the container, I have started the redis and rabbitmq.
as follows it's the log:
bundle exec rspec -c -b --fail-fast spec/api/process_spec.rb
.F

Failures:

  1) Sensu::API::Process can provide basic version and health information
     Failure/Error: api_test do
     RuntimeError:
       test timed out
     # ./spec/helpers.rb:61:in `block (2 levels) in asyn

[2016-04-12 05:16] portertech commented on #1225
@calebhailey nothing changed here, existing tests still pass, unmatched tokens (no `|` default value), are reported in the check output.

[2016-04-12 09:48] ball-hayden commented on #747
@calebhailey - looks like it has indeed been fixed by 0.23.
Thank you.

[2016-04-12 11:31] roobert opened #1228 "DISCUSS: feature: expired event resolution"
Hi,

There was recently a thread on sensu-users where I bought up a solution we came up with to handle resolving events from sources that don't store state: https://groups.google.com/forum/#!topic/sensu-users/g1EBXggDQDE

Our solution is a hack: we created a handler that reads the `:output` from a check event and if the message is classed as an expired message due to the TTL for the check being hi

[2016-04-12 12:07] mb-m commented on #1228
Just to add my thoughts to this (as the co-author of the above handler, and the person within the company who needed this):

I wrote this because I was trying to raise alerts on dynamic entities, ie. entities that might be configured, managed and reconfigured automatically and outside of the monitoring system. In this particular case, it was regions (horizontal-segments) of our HBase tables, and s

[2016-04-12 12:09] mb-m commented on #1228
(to clarify: the "quick hack" above is the monitor, rather than the fix - allowing people to get monitoring in place more trivially and thus providing better visibility and coverage)

[2016-04-12 15:04] calebhailey commented on #1225
Oh, I see. I wasn't understanding this correctly. It doesn't log as long as it has _a value_ to use for the token. That makes sense. I'll close this now.

[2016-04-12 15:04] #1225 closed

[2016-04-12 15:32] ball-hayden opened #1229 "Unable to connect to redis after upgrade to 0.23.0"
After upgrading to sensu 0.23.0, sensu fails to start properly (although the process doesn't exit).
Downgrading to 0.22.0 fixes the problem.

The issue appears to be related to redis based on the following extracts from the `sensu-server` log.

[code]

[2016-04-12 21:24] zbintliff commented on #1094
Hey @davent  have you tested with ElatiCache yet?  Its in our backlog. Will update when/if we get to it.

[2016-04-13 05:07] calebhailey commented on #1220
In preparation for this discussion, the API has been completely rewritten over the past 2-weeks. So I would encourage anyone who's interested in participating in this conversation to review the new docs:

- [API Overview](https://sensuapp.org/docs/latest/api-overview)
- [Client API](https://sensuapp.org/docs/latest/api-clients)
- [Checks API](https://sensuapp.org/docs/latest/api-checks)
- [Events

[2016-04-13 05:09] calebhailey commented on #1229
@ball-hayden see: https://github.com/sensu/sensu/issues/1209

There are warnings in the new install docs to help avoid this issue; e.g.: https://sensuapp.org/docs/latest/install-redis-on-rhel-centos#example-standalone-configuration

[2016-04-13 06:51] ball-hayden commented on #1229
How on earth did I not find that issue when searching.

Sorry!

[2016-04-13 06:51] #1229 closed

[2016-04-13 06:54] calebhailey commented on #1229
No worries!

[2016-04-13 07:06] calebhailey commented on #1213
@asciifaceman yes, Sensu configuration is compiled via deep merge, which is documented in detail here: https://sensuapp.org/docs/latest/configuration

As of version 0.23 you can output this compiled configuration using a new `--print_config` option, which is documented here: https://sensuapp.org/docs/latest/configuration#sensu-service-cli-arguments

As for your issue - do you have a Handler defini

[2016-04-13 07:13] calebhailey commented on #1223
You should be able to accomplish this with a filter. I'll try to help with an example tomorrow. :smile:

[2016-04-13 15:11] chuqyang commented on #1224
+1

[2016-04-13 17:47] calebhailey commented on #1215
@nhooey hi there! :wave:

Thank you for submitting this issue. The behavior you're describing isn't a bug as much as the result of [changes to the Sensu Transport that defer processing until a connection is successfully establish][1]. I'm giving this issue the documentation label so we can clarify this change in behavior in the documentation.

Having said that, we do agree that &ndash; because the

[2016-04-13 17:56] amdprophet commented on #1215
Hi @nhooey,

I'm planning on making a change to the Sensu API so that it returns an error code (perhaps 500?) until the transport and redis connection objects have been created. This should allow for Uchiwa to determine that the API is not yet available which is expected behaviour.

[2016-04-13 18:07] nhooey commented on #1215
Hey @amdprophet, as long as the verbose details of the error are included in the message, and repeated by Uchiwa to the user, that should be fine.

Something like this:
[code]

[2016-04-13 18:14] calebhailey commented on #935
@mag009 upon further discussion with @portertech on this, he explained the reason that my proposed solution doesn't already exist, as follows:

**Any changes to Sensu's behavior that would facilitate execution of arbitrary commands on a Sensu server (or another system) are a massive security risk**. The way check token substitution works today only allows for a potentially compromised Sensu client

[2016-04-13 18:14] #935 closed

[2016-04-13 21:36] cjchand commented on #1218
Just chiming in with a "me, too" - at least for the basic use case where:

1) We want to have all (or at least most) checks to be standalone
2) For some of those checks that are duplicated across hosts, we would like to have them be part of an Aggregate (e.g.: warn if one node in a 3-node cluster is down, crit if two are down)

We're in relatively early days, so needs might get more complicated as

[2016-04-14 18:04] calebhailey commented on #1223
@joshzitting hi there. :wave:

Sorry I couldn't follow-up yesterday... so, you _can_ accomplish this using a filter. What you'd want to do is setup the check to be executed at the more frequent interval (e.g. 30 minutes), and then use a filter to control the flow of notifications and/or handlers. Here's some pseudo-code (pseudo-configuration?) examples:

#### Example check definition

`/etc/sensu/

[2016-04-14 20:43] AirCombat opened #1231 "Make subscriptions optional for client configuration and standalone able to be set"
Really enjoying sensu, like a breath of fresh air. Like using Ansible for the first time.

All my clients are standalone. It seems it would be more consistent with the check config if I didn't have to specify "subscriptions": [ "none" ] but instead could use the option "standalone": true for the client config.

If there is an issue of that being a required field, it could be populated with the str

[2016-04-14 23:21] AirCombat opened #1232 "Windows client unable to load json configs, log shows unexpected character at line 1, column 1"
[code]

I get this error on all json files.

Using a pretty straight forward json file copied from a linux server, I have been unable to get the most recent version of the MSI client to start because of this error.

Example json file:

[code]

You may be able to replicate the issue using my full install script:
http://pastebin.com/GgQsNcAX

EOL symbols:
http://i.stack.imgur.com/aeHfu.png

[2016-04-15 04:46] kaos opened #1233 "API: support push/events"
Joining the discussion for #1220

I'm hoping we can get to a state where events are pushed all the way from sensu out to the web UI (Uchiwa-web) without polling all data frequently. I've not yet run any benchmarks, but I just fear that it is going to be a bottleneck to refetch all data all the time when we get a large number of hosts and checks etc, apart from feeling just inefficient.

In case a

[2016-04-15 12:55] ulrith commented on #1212
I face with the same issue after upgrade to 0.23 version: my Uchiwa dashboard can't connect to API still. Do I have any option besides downgrading to 0.22?

[2016-04-15 13:46] danpopp commented on #1212
No, unfortunately. Not yet. The bad packages are still in the vendor's repository, and no one from the project has commented on or even triaged this bug. Definitely not a good strategy if they are trying to get people to spring for the enterprise version. Thankfully I QA all my packages before deploying, a botched version like this could really cause a headache for an organization.

[2016-04-15 13:48] chuqyang commented on #1212
I'm having a similar issue on CentOS 6.7. Downgrading to 0.22 works for now.

[2016-04-15 19:17] efalkner commented on #1037
Running into the same issue, curious if it was fixed. Thanks!

[2016-04-16 07:39] moises-silva opened #1235 "Long check result sent to the client TCP socket fails to be processed"
When sending a large check result buffer to the client TCP socket the client fails to parse the first received chunk but MultiJson.load() does not throw any exception and instead returns a half-baked object of type Symbol which then causes an exception in process_check_result() when trying to access its elements.

I saw that recently Sean dropped MultiJson in favor of sensu-json. I have not tested

[2016-04-16 08:44] portertech commented on #1235
Hey @moises-silva, have you tried Sensu 0.23.0-3? Sensu switched to it's own JSON parser abstraction library, sensu-json, which uses Oj on CRuby.

[2016-04-16 08:58] moises-silva commented on #1235
@portertech Hey, yeah I noticed on the git logs you switched the json parser. I just finished tonight debugging this problem and didn't have a chance to try 0.23.0-3 yet. I will do so asap and let you know my findings.

[2016-04-16 19:29] kobbe commented on #1232
Have you tried unix EOL symbols insted of windows EOL?

[2016-04-16 20:27] ransoni commented on #1232
This might be caused by wrong encoding.
Check that your config file is UTF-8 encoded, and is not UTF-8-BOM.
I had UTF-8-BOM encoded config files first, and they failed to load.

[2016-04-17 15:05] gbolo commented on #1224
+1

[2016-04-17 18:41] moises-silva commented on #1235
@portertech I will be trying new sensu tomorrow, but I was wondering if you'd be open to accept a patch to include the length of the buffer first for tcp connections. This would be backwards compatible, so clients that are aware of this can use the extension by sending a little header first including the length, but existing clients would keep happily sending just a json string. This would make th

[2016-04-18 16:53] joshzitting commented on #1223
Cool thanks. I'll give it a try.

[2016-04-18 18:54] asciifaceman commented on #1213
Sorry for the delay in response, we had a large production outage last week that consumed all of my time.

In my original issue I had the handler I was defining and then how I was calling it.

But after starting sensu, I am seeing the handler not being merged in. However when I rename it to "default" it will pick it up.

I am just trying to define "email "to utilize the CLI for now since I don't h

[2016-04-18 21:43] bgaillard opened #1236 "Windows executes 3 publishing checks instead of 1"
Hi,

I'm currently trying to execute a CPU metrics plugin under Windows 10 but do not understand why I always see 3 publishing checks in my `sensu-client.log` file instead of having only one valid check.

I initially tried with the `check-windows-cpu-load.rb` plugin from https://github.com/sensu-plugins/sensu-plugins-windows.

Finally I simplified the plugin to only one line to have a very simple

[2016-04-19 07:16] bgaillard commented on #1236
Ah, I think I found what was my problem, during my tests I did several starts and stops of my Sensu client.

Looking at the Windows Task Manager it seems their are 3 Ruby processes running instead of only one.

**So if you encounter this same problem please double check your Sensu client is not running several Ruby processes.**

[2016-04-19 07:16] #1236 closed

[2016-04-19 08:38] gsandie commented on #1117
@calebhailey Awesome, thanks!!

[2016-04-19 14:00] calebhailey commented on #1117
@gsandie your welcome! Let us know if you have any further questions. :-)

[2016-04-19 16:24] RahulMahale commented on #1189
I am having same issue

[2016-04-19 20:34] manupathak commented on #1044
Hi,

Thanks for getting back on this. As I mentioned earlier, I ended up implementing a script that runs on each client host, and that restarts the Sensu client whenever it detects a change in the DNS entry, and this addresses the issue I had raised. However, the fact that this has to be run on every single client is not so great.

1. The fallback option you are suggesting would work, but I don't

[2016-04-20 14:12] hprins commented on #1219
Could we also use subdue feature to handle messages that are not required to be displayed on the dashboard?  We basically are looking for an option to filter messages.

[2016-04-20 15:24] yuha0 opened #1237 "Collecting custom data for registration event"
I found the client registration feature in the recent version pretty useful. However, the information in the `event` is not enough for me.

I am in a situation that we need to know client's IP, memory/CPU usage... etc. Is it possible to attach some custom data (by collecting `STDOUT` from running a script just like executing a `check`, for example) when `client` creating a registration `event`?

[2016-04-21 07:36] jaykumar-jnpr opened #1238 "Sensu Redis authentication issue"
Can someone please confirm Sensu Redis AUTH is working fine for them.

Sensu Version: sensu-0.23.1-1.x86_64
Redis Version : redis-2.8.19-2.el7.x86_64

I am trying to get Sensu work with Sentinel clustered Redis instance, but sensu cannot seems to be able to authenticate to Redis. Enabling auth is a prerequisite for setting up Sentinel.

I have tried Sensu with Standalone Redis with AUTH as well as

[2016-04-21 10:38] ulrith commented on #1212
I have 0.23.1 version now and Uchiwa (0.14.2) still can't connect to the API (same machine). I have the following in the logs:
[code]

[2016-04-21 16:55] Artanicus commented on #1135
Ubuntu 16.04 is out, what's the status on this? Any workarounds in the meanwhile?

[2016-04-21 17:17] calebhailey commented on #1237
@yuha0 the registration event will include [custom attributes][1] defined in the [client definition][2] (e.g. `/etc/sensu/conf.d/client.json`). It should be pretty easy to add custom attributes to the client definition via configuration management (or other automation tooling) when a new node is initially provisioned (e.g. ip address, cpu count, memory capacity, etc). In fact, the [example event d

[2016-04-21 17:47] calebhailey commented on #1238
@jaykumar-jnpr that error is coming from Redis. I am able to reproduce this error if I enable the `requirepass` configuration in my `/etc/redis/redis.conf` (as follows) but don't provide Sensu with the password.

[code]

I wonder if perhaps your config isn't being picked up by Sensu. Please try using the new `--print_config` option in Sensu 0.23 to confirm that your password is being loaded by Sen

[2016-04-21 18:04] calebhailey commented on #1232
Tagging this for review w/ 0.24. We added BOM detection/removal last year (in [version 0.18][1]), but I wonder if we introduced a regression with new JSON changes in 0.23.

In the interim, ensuring that your configs are not UTF-8 encoded should resolve the issue.

Thanks for the report. #monitoringlove

[1]: https://github.com/sensu/sensu/blob/master/CHANGELOG.md#0180---2015-05-05

[2016-04-21 18:17] yuha0 commented on #1237
Hi @calebhailey Thanks for the link. I know I can add hard-coded attributes. But in the event, what if I need to send some information that will be available only after starting sensu-client?

Let's say I have a machine installed sensu-client and is configured to talk to a remote RabbitMQ. When it's booting up for the first time, I want it to check its local IP (for example, run `ifconfig`), which

[2016-04-21 18:40] wbrodie commented on #1232
IIRC:
Powershell encoding is UCS-2 LE BOM
Command Prompt encoding is UTF-8

Should be able to use both to create files.

Changing the files to UTF-8 fixes this.

I recommend having some Windows centric functional testing / end-to-end for the MSI builds. - Powershell bootstrap scripts, Powershell DSC etc...

The irony is that the specifications for ecma/JSON were originally UCS-2 / UTF-16

[2016-04-21 20:14] calebhailey commented on #1237
@yuha0: this could easily be provided via a configuration management solution (e.g. Chef, Puppet, or Ansible) or other automation tooling, which could wait until an IP address is available, then write the client configuration and start the Sensu client. This is a pretty common use case for Sensu users.

[2016-04-21 20:33] yuha0 commented on #1237
@calebhailey I've considered this approach but in my current project, sensu-client may be the only service we have control on the client machines. I think I will go with a normal check if there's no easy way to do it with registration event.

[2016-04-21 22:42] rs-mrichmond commented on #1135
My current workaround is manually grabbing and installing to .deb files.

[2016-04-22 08:35] wbrodie commented on #1209
I think localhost should be changed back to 127.0.0.1 by default but possibly changed to IPv6 as an option as I imagine there are plenty of guides for Sensu on the net that use localhost and I personally did not find this easy to resolve and it appears people are still encountering this as an issue.

[2016-04-22 08:38] jaykumar-jnpr commented on #1238
Closing the issue. @calebhailey was correct, due to a typo, redis configuration was not being picked up by sensu (named the file .conf instead of .json)

Sensu print_config helped in identifying issue.

`sudo -u sensu /opt/sensu/bin/sensu-api -P -c /etc/sensu/config.json -d /etc/sensu/conf.d/`

[2016-04-22 08:38] #1238 closed

[2016-04-25 16:35] portertech commented on #1182
Going to expedite this fix/feature for 0.23.2 :+1:

[2016-04-25 16:42] #1182 closed

[2016-04-25 18:08] joshzitting opened #1241 ""output":"", "status":null Crashed sensu-server V20.3"
I had a client over the weekend for some unknown reason return an empty output status. '"output":""'
This cause my sensu-server to crash with the following error..

[code]

This is the first and only time I have seen this but I was a little shocked that the server died from it.. I will look at the newer versions and see if the code is the same.

[2016-04-25 18:12] joshzitting commented on #1241
https://github.com/sensu/sensu/blob/master/lib/sensu/server/filter.rb#L158
It was cuased by this line of code and my output had `"status":null`
I am not sure why that happened but should it happen again I hope it doesnt crash the sensu-server anymore.. Any thoughts??

[2016-04-26 00:30] calebhailey commented on #1218
# Aggregates 2.0: Introducing Named Aggregates

## Proposal

In an attempt to make Aggregates more broadly useful, we are proposing a major
change to Sensu check aggregate functionality, as follows:

### Introducing Named Aggregates

Sensu 0.24 will introduce support for a new Sensu primitive called "named
aggregates". With "named aggregates", multiple check results from disparate
sources (includi

[2016-04-26 14:59] portertech commented on #1228
We would have to avoid the use of "ttl" in the definition attribute, as it could be confused with check TTLs and their behaviour. We could use something along the lines of "expiration" or "expires".

[2016-04-26 15:11] calebhailey commented on #1228
@roobert this is an interesting idea. Thank you for your submission. I'm tagging this for consideration as part of the 0.25 release. We'll follow-up with some proposed solutions prior to implementing any changes.

[2016-04-26 15:12] portertech commented on #1228
Please let me know if check `"expires": $seconds`, causing any resulting events to be removed from Redis after `$seconds`, is not sufficient.

[2016-04-26 15:21] roobert commented on #1228
I think that would be fine. :+1:

[2016-04-26 15:25] calebhailey commented on #803
A proposal for "aggregates 2.0" has been published as a comment on issue #1218. Barring any objections, this proposal will be implemented in Sensu 0.24.

[2016-04-26 15:27] calebhailey commented on #1041
A proposal for "aggregates 2.0" has been published as a comment on issue #1218. Barring any objections, this proposal will be implemented in Sensu 0.24 and will resolve this issue.

[2016-04-26 15:28] calebhailey commented on #1187
A proposal for "aggregates 2.0" has been published as a comment on issue #1218. Barring any objections, this proposal will be implemented in Sensu 0.24 which will resolve this issue.

[2016-04-26 15:30] mb-m commented on #1228
@portertech We need to make sure that we remove both the event and the result, but other than that - yes, I think it would be fine. If you're going through the same code paths as the APIs, you want to make sure you don't generate a resolved message too, as this has the tendency to confuse things (results without events or vice-versa).

Otherwise - while there's obviously a bit of confusion about t

[2016-04-26 15:33] mb-m commented on #1228
(oh, and being British, I'm not a huge fan of "expiration" - but that's just me ;-) )

[2016-04-26 15:34] calebhailey commented on #1237
@yuha0 yeah, simple checks to monitor these resources should also do the trick. The registration event handler is useful for "one time registration" scenarios, which registration can include custom metadata, but it doesn't sound like that's your issue. Monitoring system resources should be done with checks.

PS - if you need to use a [subscription check][1] to monitor system resources that may var

[2016-04-26 15:34] #1237 closed

[2016-04-26 15:37] calebhailey commented on #1223
@joshzitting I'm going to go ahead and close this issue now. Please feel free to comment if this matter is not resolved.

[2016-04-26 15:37] #1223 closed

[2016-04-26 15:41] calebhailey commented on #1241
@agoddard can you try to recreate this?

[2016-04-26 15:43] calebhailey commented on #1215
Presumptively tagging this for the 0.24 release.

[2016-04-26 15:48] calebhailey commented on #1213
@asciifaceman without having a look at your configuration I'm not sure we can help. As of version 0.23 you can output your compiled configuration using a new `--print_config` option, which is documented here: https://sensuapp.org/docs/latest/configuration#sensu-service-cli-arguments

Using the `--print_config` feature should help reveal where the issue is (e.g. maybe some configuration isn't being

[2016-04-26 15:51] calebhailey commented on #1055
Closing due to inactivity, and because HAProxy configurations are no longer required thanks to the native Redis Sentinel support released in version 0.23 (which is now also fully documented, here: https://sensuapp.org/docs/latest/redis#redis-high-availability-configuration. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-26 15:51] #1055 closed

[2016-04-26 15:53] calebhailey commented on #1115
Closing due to inactivity. Please feel free to create a new issue if this matter is not resolved. #monitoringlove

[2016-04-26 15:53] #1115 closed

[2016-04-26 15:54] calebhailey commented on #1164
I'm going to go ahead and close this issue as it doesn't appear to be an issue with Sensu. Please feel free to open a new issue if this matter is not resolved. #monitoringlove

[2016-04-26 15:54] #1164 closed

[2016-04-26 15:56] portertech commented on #1235
@moises-silva I would happily except a patch for buffer length :+1: As long as the implementation is backwards compatible and relatively clean :-)

[2016-04-26 15:57] calebhailey commented on #1179
Tagging this for the 0.25 release, when we hope to implement a number of API enhancements.

[2016-04-26 15:58] calebhailey commented on #1235
Tagging this for the 0.24 release, assuming we get a PR in time. :)

[2016-04-26 15:59] portertech commented on #1235
@calebhailey we should target 0.25, but bump it up if we receive it in them :-)

[2016-04-26 16:09] portertech commented on #1241
Odd, the child process (execution) bits haven't changed in a long time. Curious to see if this can be reproduced :+1:

@joshzitting What platform is the client running on?

[2016-04-26 16:10] portertech commented on #1241
@joshzitting perhaps try upgrading to a recent version of Sensu, such as 0.23.2-1 :+1:

[2016-04-26 16:36] keymone commented on #1218
rather than exclude old check results according to max_age param, it would be useful to include it as a separate attribute, e.g. `"stale": 5`. otherwise sounds good. 👍

[2016-04-26 16:50] portertech commented on #1218
@keymone interesting, the stale counter could be useful for validating exclusion, but not their statuses (but I don't think we should go that far).

[2016-04-26 18:02] joshzitting commented on #1241
@portertech I would love to upgrade to a newer verison and it should happen on our next chef run...
This is a smartOS platform running with a sensu gem installation (since no packages are available on pkgin yet )
Thanks guys..

[2016-04-26 18:13] keymone commented on #1218
@portertech sure, i'm not interested in stale results, but number of stale clients is useful for alerting logic. if 2 out of 2 hosts are OK - there's nothing to alert on, if 2 out of 200 are OK and 198 stale - you might be in trouble.

[2016-04-26 18:19] #1180 closed

[2016-04-26 18:21] calebhailey commented on #1064
Tagging this for consideration in the 0.24 release.

[2016-04-26 18:29] calebhailey commented on #1027
@jaimegago I'm curious to get your thoughts on my previous comment. I wonder if we can close this issue as a "won't fix" for now for reasons mentioned above (i.e. this is a problem to solve outside of Sensu), unless you have some ideas about what we could do in Sensu that wouldn't mislead users.

[2016-04-26 18:45] asciifaceman commented on #1213
I have Version: 0.23.0-3

However:
root@spacelab01:/etc/sensu# /etc/init.d/sensu-service -h
Usage: /etc/init.d/sensu-service {client|server|api}
{start|stop|status|restart}

The options listed in the documentation do not exist.

On Tue, Apr 26, 2016 at 8:48 AM, Caleb Hailey <notifications@github.com>
wrote:

--
Charles P. Corbett

[2016-04-26 18:46] asciifaceman commented on #1213
I'm an idiot. One moment...

On Tue, Apr 26, 2016 at 11:45 AM, Charles Corbett <nafredy@gmail.com> wrote:

--
Charles P. Corbett

[2016-04-26 18:48] asciifaceman commented on #1213
[code]

This is all that is being given from Sensu, although I know there is more
since I have it up and running with checks/hosts. Namespace issue?

On Tue, Apr 26, 2016 at 11:46 AM, Charles Corbett <nafredy@gmail.com> wrote:

--
Charles P. Corbett

[2016-04-26 18:51] calebhailey commented on #1213
@asciifaceman when running Sensu from the CLI you have to tell Sensu where to load configuration files from, and make sure you're running the command with elevated privileges so it can read all the configuration files; this is documented here: https://sensuapp.org/docs/latest/configuration#sensu-command-line-interfaces-and-arguments

You're going to need to do something like:

[code]

[2016-04-26 19:24] calebhailey commented on #1218
@keymone hmm, that is an interesting point. What level of detail would be necessary for "stale result detection"? I would think you would want multiple counters for that too; e.g.:

[code]

What should stale counters represent? Should they be a subset of clients included in the aggregate `clients` counter, or a separate count (e.g. should the above example mean 2/15 clients are stale, or 2/17 clie

[2016-04-26 19:38] keymone commented on #1218
@calebhailey i didn't think about many-checks case, usually one aggregates over many clients for single check and staleness is determined for a *result*, not client. imo `total = ok + warn + crit + unk + stale`.

in that case, the most logical outcome for me when we have clients A, B and checks X, Y to aggregate over, would be that `total = 4`: AX, AY, AB, AY, and staleness can count twice towards

[2016-04-26 20:13] asciifaceman commented on #1213
I'm sorry, I am really slow today. Toothache and prod problems heh.

[code]

On Tue, Apr 26, 2016 at 11:51 AM, Caleb Hailey <notifications@github.com>
wrote:

--
Charles P. Corbett

[2016-04-26 20:32] calebhailey commented on #1213
Ugh, GitHub email integration doesn't respect code snippets. Here's a gist w/ your config output: https://gist.github.com/calebhailey/e06e7570c40b4262aaae5d2f94ab3baf

After a cursory review of your config I'm not seeing anything blatantly wrong. It looks like your checks should be executing both of the `"default"` and `"email"` handlers. Can you share copies of your sensu-server logs (`/var/log/s

[2016-04-26 20:53] somic commented on #1218
Can you please clarify how these aggregates will be passed to handlers and when handlers will be called on these aggregates - on schedule (say every minute)? when state of aggregate changes? what determines when state of the aggregate has changed?

Will there be any notion of "aggregate event is triggered" and "aggregate event is resolved"? These 2 states are of course a function of ok, warning, c

[2016-04-26 21:03] calebhailey commented on #1218
@somic great questions. At this time our proposal is to make aggregates a lightweight primitive for aggregating check results. By keeping them as un-opinionated as possible it is our hope that they can be useful in more applications than the old aggregates which were too opinionated and thus unusable in certain circumstances.

With named aggregates you can get the desired check/handler behavior yo

[2016-04-26 21:14] calebhailey commented on #1238
@jaykumar-jnpr thanks for the follow-up and for closing the issue!

#monitoringlove

[2016-04-26 22:00] calebhailey opened #1244 "DISCUSS: configuration validation"
Hello all. We would like to collect feedback and input on how Sensu deals with invalid configuration. There are currently two types of "invalid" configuration:

1. Invalid JSON (i.e. bad JSON syntax; e.g. missing commas, etc)
2. Invalid configuration definition (e.g. missing a required definition attribute; e.g. missing client `name` attribute)

Unfortunately Sensu also currently behaves in two di

[2016-04-26 22:21] somic commented on #1218
Yes, makes sense. Thanks!

[2016-04-26 22:53] portertech commented on #1244
We should probably make this configurable. Default to strong validation, but provide a CLI argument like `--ignore_invalid` or `--ignore_invalid_config` to change the behaviour to weak.

[2016-04-26 22:55] portertech commented on #1244
I personally would use strong validation, but at least it's configurable for those who feel differently. Making the validation behaviour consistent between configuration file loading errors and invalid definitions is the big win :+1:

[2016-04-26 23:07] jaimegago commented on #1027
@calebhailey
Disclaimer: 3+ years into Sensu and I still have some gray areas, I am no rubbyist and have only contributed plugins, nothing to the core, so don't be surprised if there are errors in my reasoning here.

I do think there is a reasonable middle ground for Sensu servers instrumentation that I'd hope you guys can add.
I assume somewhere in Sensu (Redis?) there is a *live* record of the S

[2016-04-26 23:41] calebhailey commented on #1027
@jaimegago ah, now these are totally feasible ideas. There are a few related issues floating around too that I'll link as soon as I get a chance. For now I'm gonna tag this for consideration in 0.25. I'll update this again as we have some ideas about exactly what improvements we'll be shipping.

[2016-04-27 02:40] solarkennedy commented on #803
No objections from me.

[2016-04-27 08:09] sulemanhasib43 commented on #1135
After the release of 16.04 the issue is still the same. The only solution is what @rs-mrichmond stated.

[2016-04-27 09:23] RiRa12621 opened #1245 "Sensu not connecting to Redis Sentinel Cluster"
Hey there,
we are using Sensu with a cluster of 3 Redis nodes per Datacenter where each node is working as Sentinel.
The cluster itself is working as expected and also replication of Master <==> Slave is working flawless just as the failover is working fine.
But for a reason we don't know, Sensu cannot connect to the Redis Sentinels and thus is not connecting to the Redis master and thus not start

[2016-04-27 10:04] Tim10000 opened #1246 "DISCUSS:Feature:Passive client"
Hi,

First of all I find your project amazing!
Now I would like to discuss the possibility of having a true passive, firewall bypasser client that means:

 -Disable keepalive request (I've already done that, but not in elegant way).
 -Connect to rabbitmq via HTTP protocol
 -Connect only when a check is performed

This isn't for spying purposes but, to request various data among servers which are i

[2016-04-27 12:29] lgarciaaco commented on #1245
I also have the same issue. The setup is prerry much the same, but I am using embedded ruby. Logfiles dont say much ...

[2016-04-27 12:36] RiRa12621 commented on #1245
oh yeah here’s the last log entries form sensu-server and sensu-api log

`{"timestamp":"2016-04-27T13:20:15.396154+0200","level":"warn","message":"loading extension files from directory","directory":"/etc/sensu/extensions"}
{"timestamp":"2016-04-27T13:20:15.396274+0200","level":"warn","message":"loaded extension","type":"mutator","name":"ruby_hash","description":"returns ruby hash event data"}
{"t

[2016-04-27 13:12] DerekSchenk commented on #1244
👎 I would prefer strong validation.  Troubleshooting is difficult when the configuration is accepted but not used as intended.

Allowing a flag to ignore invalid configs is an option, but when would having an incorrect configuration be a desired operating condition?

What about having a check_config command that would validate changes, this would allow you to restart with confidence knowing that y

[2016-04-27 15:17] portertech commented on #1245
@RiRa12621 do the Redis Sentinel logs show connections? Are the Sensu instances able to reach Sentinel? e.g. telnet sensuredis38-2.sensitive.info 26379

[2016-04-27 15:19] RiRa12621 commented on #1245
telnet works for all the instances
the sentinel logs only show that it starts up and detects all slaves and master but nothing about sensu connecting

[2016-04-27 15:26] portertech commented on #1245
@RiRa12621 perhaps reduce the configured sentinels in Sensu to be a single node and use something like tcpdump to confirm an attempt is made?

[2016-04-27 15:35] portertech commented on #1245
@RiRa12621 any additional information that you can provide is much appreciated :+1:

[2016-04-27 15:42] calebhailey commented on #1244
@DerekSchenk as of [Sensu 0.23][1] there is a new `--print_config` CLI option that has Sensu load configuration and quit, printing the result to STDOUT. This should make it possible to "test" configuration before restarting Sensu. See here for documentation: https://sensuapp.org/docs/latest/configuration#sensu-command-line-interfaces-and-arguments

[1]: https://sensuapp.org/docs/latest/changelog

[2016-04-27 15:44] RiRa12621 commented on #1245
@portertech i did that for testing
so i shrinked the config to the following:

`{
  "redis": {
        "sentinels": [
        {
                "host": "sensuredis38-3.sensitive.info",
                "port": 26379
        }
        ]
  }
}
`

and did a tcpdump to confirm it’s attempting to connect

[code]

Yeah I will try to provide us much as possible but it’s like we really don’t get to much ou

[2016-04-27 15:45] portertech commented on #1245
@RiRa12621 did you use a different Redis master name? Default name is "master".

[2016-04-27 15:45] portertech commented on #1245
We definitely need to add more logging to the Redis client :+1:

[2016-04-27 15:47] RiRa12621 commented on #1245
@portertech yes we did use a different master name “node01”

[2016-04-27 15:49] portertech commented on #1245
@RiRa12621 you need to add "master": "node01" to your Redis definition (top level).

[2016-04-27 15:50] portertech commented on #1245
@calebhailey this is missing from the Redis docs.

[2016-04-27 15:50] calebhailey commented on #1245
@portertech noted. I'll add that ASAP.

[2016-04-27 15:52] portertech commented on #1245
@calebhailey :boom:

[2016-04-27 15:53] portertech commented on #1245
@RiRa12621 you'll want to ensure that your master name remains consistent.

[2016-04-27 15:54] RiRa12621 commented on #1245
[code]

so it is supposed to be like this?
but then this is the opposite of the documentation where it says that sensu is self discovering the master via sentinels.

as of here”
[code]

[2016-04-27 15:56] portertech commented on #1245
@RiRa12621 the Redis client queries Sentinel for a master from the master group, which actually defaults to "mymaster". The master key should probably be changed to master_group.

[2016-04-27 15:59] RiRa12621 commented on #1245
ok, fine it’s just a matter of documentation then.
it’s working if i change the config like this.

Thx a lot for the very quick help!

[2016-04-27 16:00] lgarciaaco commented on #1245
bravo!! but redis client output is still non existent ;)

thanks!

[2016-04-27 16:00] portertech commented on #1245
@RiRa12621 @lgarciaaco great! We'll be tracking Redis logging improvements @ https://github.com/sensu/sensu-redis/issues/1 and updating the Redis configuration documentation!

[2016-04-27 16:02] calebhailey commented on #1245
Tracking documentation changes here: https://github.com/sensu/sensu-docs/issues/380

[2016-04-27 16:49] calebhailey commented on #900
Removing this from the 0.24 release for reasons mentioned in PR #935. We'll keep this issue open for ongoing conversation related to overall API improvements in #1220

[2016-04-27 16:49] solarkennedy commented on #1218
I would like to give +1s too all the comments in this thread and thanks to the Sensu "org" to addressing this issue and having a design discussion in the open. I'm also happy to see other Yelpers chime in before I got around to reading this.

I second @keymone's concern that the "stale" checks is a concern. I don't care too much about how it is exposed, but *some* sort of data about how many stale

[2016-04-27 16:53] amdprophet commented on #1135
This should be fixed now. Please make sure that you're using `repositories.sensuapp.org` and not `repos.sensuapp.org` in your APT sources.

[2016-04-27 16:54] portertech commented on #1135
APT https://sensuapp.org/docs/latest/sensu-on-ubuntu-debian#install-sensu-core-repository

YUM https://sensuapp.org/docs/latest/sensu-on-rhel-centos

[2016-04-27 17:20] AirCombat opened #1247 "Feature Request - Add option to base keepalives timestamp on offset system time based on drift of ntp"
I had run into the common time sync issue with the keepalives.

Most of my sites this is not an issue, I just reconfigure ntpd however there are a few environments where for various reasons I am unable to change the system time. I currently disable the keepalives for these sites.

It would great if sensu could have an option to do the following:
cat </dev/tcp/time.nist.gov/13 (I'm sure there are b

[2016-04-27 17:42] calebhailey commented on #1218
@solarkennedy first off, thank you for your comments and support! We really appreciate it. \o/

We're definitely going to incorporate some data to acknowledge "stale" results. Identifying this as a requirement as a result of having this discussion in an open forum is a big win (thanks @keymone!). We'll follow-up with some ideas about how we might do that before we start implementing anything.

Las

[2016-04-28 07:50] jaredledvina commented on #1135
Looks good on my end! Thanks!
[code]

[code]

[code]

[2016-04-28 13:35] cjchand commented on #1244
I think the current behavior is optimal because:

* It makes no sense to try and continue when there's misconfig to the level that breaks core functionality (e.g.: missing/invalid config for Redis or Transport for sensu-server). I'd rather have the process die so I can alert on it (monitor the monitors, yo) than have it stay alive and "silently" fail (where "silent" means I don't wanna troll all t

[2016-04-28 19:02] portertech commented on #1216
Merged @calebhailey's PR! :+1:

[2016-04-28 19:02] #1216 closed

[2016-04-28 19:04] portertech commented on #1135
Closing this one, as the active (non deprecated) repositories have been updated :+1:

[2016-04-28 19:04] #1135 closed

[2016-04-28 19:10] portertech commented on #842
Opened a PR to use amqp 1.6.0 for the Sensu RabbitMQ transport :+1:

https://github.com/sensu/sensu-transport/pull/29

I'll cut a release and then submit a Core PR bumping the sensu-transport version.

[2016-04-28 19:51] hurrycaine commented on #1037
This is working with 0.23.1...  Thank you!

[2016-04-28 20:17] #842 closed

[2016-04-28 21:18] portertech commented on #1196
Just about time to merge https://github.com/sensu/sensu/pull/1248 :+1:

[2016-04-28 21:34] portertech commented on #1196
https://github.com/sensu/sensu/pull/1248 has been merged, the change will be available in the upcoming 0.24 release!

[2016-04-28 21:34] #1196 closed

[2016-04-28 23:20] portertech commented on #1244
@cjchand Thank you for the input!

I think using `--ignore-invalid` for weak validation may be best in any case where Sensu is considered to be a self-serve service, as anyone can still push a valid JSON file that contains invalid definitions.

Making the behaviour consistent between file and definition validation will be the big improvement, making the validation action configurable is the icing.

[2016-04-29 20:06] portertech commented on #1244
After having a go at Sensu settings validation that supports `--ignore-invalid` for weak validations causes several problems. One example, `SENSU_LOADED_TEMPFILE` (https://github.com/sensu/sensu-settings/blob/master/lib/sensu/settings/loader.rb#L140) which is consumed by other processes like handlers to load settings. The loaded tempfile with `--ignore-invalid` may have invalid files and/or defini

[2016-04-29 20:09] portertech commented on #1244
We should go with strong validation ONLY, however, provide a preflight settings check feature which can be used to validate updating configuration prior to restarting the Sensu process.

[2016-04-29 20:33] portertech commented on #1244
Idea: added an exit status for validation to `--print_config`

[2016-04-30 01:04] agoddard commented on #1241
@joshzitting  I haven't been able to reproduce this on 0.20.3 with output: "" - however I'm confused about how you were able to get a status of NULL from the check, can you share the check you were using? I can replicate a blank output and confirm it doesn't crash the server (with and without the handler severities set & with/without filters).

Also, when you're upgrading to 0.23, don't miss that

[2016-05-02 09:10] lgarciaaco commented on #973
Same here ... I am building my flew of mutators, and having only ony is making things ugly

[2016-05-02 16:10] cruschke commented on #1148
We haven't yet looked at implementing something on our own as in the end it would generate some sort of code duplication (e.g parsing Sensu check configs).

Would it make things easier if a separate client would be implemented (instead of extending the sensu-client) that just performs config parsing and execution of standalone checks?

[2016-05-02 16:53] calebhailey commented on #1148
@cruschke sorry, I don't know why I didn't link to this in my previous comment &ndash; as of version 0.23, Sensu has added support to "run once" and print out the compiled configuration via a new `--print_config` CLI option. See here for more information: https://sensuapp.org/docs/latest/configuration#sensu-command-line-interfaces-and-arguments

Once you would have the compiled config JSON, you co

[2016-05-03 17:12] nhooey opened #1253 "API support for searching "custom attributes" of clients in client, check, event search"
The API should support searching for a client's "custom attributes", which are arbitrary field values set by the user, when searching for clients, checks or events.

Given this feature, the following questions should be easily answerable:
1. What is the set of `CRITICAL` events matching name-pattern `load` for Clients with `country` set to `Canada`?
2. What is the set of Events matching check-name

[2016-05-03 17:13] nhooey commented on #1220
I created this issue:
* #1253 API support for searching "custom attributes" of clients in client, check, event search

Which I think is relevant to this discussion on API improvements.

[2016-05-03 19:25] UnitedMarsupials opened #1255 "Feature request: different intervals depending on last status"
For some checks it may be useful to have different `interval`-values depending on the status of the last check. Something like:

[code]
The above will perform the check once an hour normally, but will try again in 30 minutes after a warning, and keep trying every minute-and-a-half in case of failure or unexpected result. This may help admins get their dashboards back to green sooner after they've

[2016-05-03 19:41] portertech commented on #1244
I have created a PR that adds `--validate_config` https://github.com/sensu/sensu/pull/1254

[2016-05-04 12:30] lgarciaaco opened #1256 "mutated event is not being passed child handlers in when handler is set"
If the handler type is *set*, and it has a mutators, the child handlers dont get the mutated event, but the original one.

For the following example, I would expect to see it the handler show the mutated event from notify:
[code]

[2016-05-04 18:28] portertech commented on #1256
Mutators cannot be applied to a set. Mutators can only be applied to the individual handlers. It looks like you are using a mutator to accomplish the functionality/responsibility of a filter https://sensuapp.org/docs/latest/filters

[2016-05-04 19:25] portertech commented on #1255
Sensu uses a pub/sub model, checks target one or more Sensu clients via subscriptions. Sensu DOES NOT target individual clients, so this feature could not be applied to standard checks. Standalone checks (client execution scheduler) are not aware of check result history, this feature would require local state.

The Sensu API has `/request`, which can be used to trigger another check run, immediate

[2016-05-04 19:27] portertech commented on #1220
A generic API response object filter, boolean search, using dot notation, would be very handy.

[2016-05-04 19:43] nhooey commented on #1220
@portertech Could you clarify what you mean by "dot notation"?

[2016-05-05 11:54] lgarciaaco commented on #1256
@portertech: well, no, officehours is actually a mutator that add event['officehours'] = 'yes' or 'not'. Then I of course filter using that field but I omitted the filter config from the show handler to keep the example simple.

But I get the point, no mutators for set handlers. Does this also apply for filters?

[2016-05-05 16:10] somic opened #1258 "/events/:client should return 404 for clients that do not exist"
Right now it returns empty list and HTTP 200 OK.

Sensu 0.22

[2016-05-06 08:25] cruschke commented on #1148
@calebhailey that makes perfectly sense, thanks for the hint!

[2016-05-06 08:25] #1148 closed

[2016-05-06 14:16] calebhailey commented on #1148
\o/

[2016-05-06 20:32] cjchand commented on #1074
@calebhailey Not a showstopper by any means, but there is some value to give Operators a readout on the status of multiple items related to a check. For example, we have a check that iterates each drive to check SMART data on those drives, printing a line per drive with the Drive ID, serial number, and SMART status summary.

The Ops folks feel better seeing each of the drives listed in the output

[2016-05-06 20:58] Craigeous opened #1259 "Feature Request: sources attribute for proxy clients"
I've been working with the proxy client and the source attribute in checks.  I am happy they exist, but I'm finding I have to create a check for each proxy client, which is fine, I just wish they provided a little more function.

I'd like to be able to aggregate the checks as well, which you cannot do(from my knowledge) in the current form.  I was thinking, it would be nice if we had a sources att

[2016-05-06 22:31] kobbe commented on #1244
I am quite happy as long as the problems are printed to stdout so I can read about the problems easy once they occur.

[2016-05-08 18:00] dhdanno opened #1260 "Scheduler Drift"
I have noticed a problem where checks may be drifting from the scheduled execution time.

In my environment I noticed that over a period of time our checks were running close together. Changing the interval seems to have stopped the issue from occurring.

I wrote up a summary here: http://stackoverflow.com/questions/37081935/sensu-scheduler-oddness/37082272 and Kobbe mentioned he noticed the execu

[2016-05-09 09:21] rgardam commented on #1212
I'm seeing the same thing on Centos7-1602

[2016-05-09 09:27] ulrith commented on #1212
@rgardam see https://github.com/sensu/uchiwa/issues/483

[2016-05-09 16:47] portertech commented on #1165
@xyntrix I believe https://github.com/sensu/sensu/pull/1257 addresses your issue :+1:

[2016-05-09 19:17] calebhailey commented on #984
This has been resolved via #1243 and will be including in the upcoming 0.24 release. 👍

[2016-05-09 19:17] #984 closed

[2016-05-09 21:48] portertech commented on #1203
Closing this, as #1250 has been merged into the 0.24 release branch, scheduled to be release soon :+1:

[2016-05-09 21:48] #1203 closed

[2016-05-09 21:49] portertech commented on #1176
Closing this, as https://github.com/sensu/sensu/pull/1254 was merged, which changes this behaviour :+1:

[2016-05-09 21:49] #1176 closed

[2016-05-09 21:52] calebhailey commented on #1203
I'm super interested to see how people use this. As previously mentioned, this is a bit of an anti-pattern in Sensu, but it does make alternative workflows possible without breaking anything, so it's a net positive. I just want to state for the record that I won't be surprised if this confuses new users and we spend a lot of time explaining why they shouldn't do this. 😄

[2016-05-09 21:54] nhooey commented on #1203
@calebhailey How would you usually keep track of a server that's still booting up?

I don't think there's any reason to think that this is an anti-pattern.

[2016-05-09 22:03] portertech commented on #1159
Closing this, as https://github.com/sensu/sensu/pull/1254 was merged, consistently applying strong validation. Sensu build will be updated to use `--validate_config` for restarts, prior to cutting 0.24 :+1:

[2016-05-09 22:03] #1159 closed

[2016-05-09 22:04] portertech commented on #1122
https://github.com/sensu/sensu/pull/1261 was merged :+1:

[2016-05-09 22:04] #1122 closed

[2016-05-09 22:06] calebhailey commented on #1203
@nhooey see: https://github.com/sensu/sensu/issues/1203#issuecomment-206569122

Ensuring that a provisioning event is successful is a provisioning problem (and/or something that should be monitored via monitoring the provisioning system itself). Telling Sensu a system is going to be provisioned is an anti-pattern because if the provisioning system is sufficiently dynamic, a provisioning event coul

[2016-05-09 22:33] sstarcher commented on #1244
If I can only pick strong or weak I would pick strong.  I have personally had someone misconfigure something that proper validation would've caught that disabled a check for a few weeks before it was noticed.

[2016-05-10 17:31] joshzitting commented on #1241
@agoddard we were a little surprised when it returned null too.. I think the VM timed out or something (it was very busy at the time) We are working on getting everything upgraded to a newer version of sensu.. if you cant reproduce it then Ill consider it a one time bug... Thanks for your help!

[2016-05-10 17:31] #1241 closed

[2016-05-11 18:54] dzunk commented on #1209
Just ran in to this problem myself, and it doesn't seem like an issue with Sensu at all. I was able to resolve it in one of two ways:

Update `/etc/hosts` to resolve `localhost` to `127.0.0.1` instead of `::1`.

***OR***

Update `redis.conf` to bind to `::1` in addition to `127.0.0.1`.

If you're running an IPv6-capable host, the latter option is probably the way to go. Hope this helps!

[2016-05-12 03:13] thinhduckhoi opened #1262 "Why i couldn't see any host in Uchiwa dashboard?"
Hi everyone,
After installing sensu with uchiwa, i accessed the Uchiwa Dashboard but didn't see any information about my host i'm running on.
And here's the uchiwa configuration file.
{
  "sensu": [
    {
      "name": "Site 1",
      "host": "Ip of my host",
      "port": 4567,
      "timeout": 10
    },
    {
      "name": "Site 2",
      "host": "api2.example.com",
      "port": 4567,
      "ss

[2016-05-12 03:59] angvp commented on #730
I've had the same bug on CentOS 7 in my case I didn't needed to change the daemon, but my hostname was missconfigured (not present on /etc/hosts) after I've done that, everything worked fine.

[2016-05-12 18:20] JarenGlover commented on #1129
@portertech which older version(s) had the flapping detection issue?

[2016-05-12 22:16] clintonm9 opened #1263 "Cant get API service to bind port when rabbitMQ is in conf.d"
I can not get the api service to bind to port 4567 when I run the service and rabbitmq.json is in conf.d:
[code]

I get no errors, but the API doesnt bind to 0.0.0.0 port 4567

rabbitmq.json
[code]

api.json
[code]

output when running:
[code]

If i remove rabbitmq from conf.d then the api binds.

Any ideas?

[2016-05-13 16:23] clintonm9 commented on #1263
I figured this issue out.

Incase anyone else runs into this basically I didn't have rabbitmq setup correctly. I used puppet to setup sensu (as well as rabbitmq). I didn't have the vhost setup or the correct username or password. I thought puppet would have done that for me or mentioned it in the readme on github.

Also I am surprised I didn't get any error that it couldn't connect to rabbitmq.

C

[2016-05-13 16:23] #1263 closed

[2016-05-13 20:25] rodriguesalex opened #1264 "API: Option for "additional" read-only user"
It would be great if the API could support multiple users such that we could provide our development team with read-only access to query the API

[2016-05-15 06:49] kobbe commented on #1262
Read in the logs about why. Both uchiwa and sensu have logs.

[2016-05-16 16:17] portertech commented on #1260
I have observed EM timer (periodic) drift, this is a valid issue. EM periodic timers need to account for drift, a quick search came up with a monkey patch http://soohwan.blogspot.ca/2011/02/fix-eventmachineperiodictimer.html I would prefer to fix it in upstream EM, at least adding an option to compensate.

[2016-05-16 16:41] portertech commented on #1260
https://github.com/suwanny/eventmachine/commit/0aee27bc9e2b09b66024c9b1e33d0cc034e0027f

[2016-05-16 16:47] portertech commented on #1258
I think the current behaviour is correct, as it returns an empty array, which is data representing the current state for the client.

[2016-05-17 01:38] portertech commented on #1002
https://github.com/sensu/sensu/pull/1265 made the spawn limit configurable :+1:

[2016-05-17 01:38] #1002 closed

[2016-05-17 01:39] portertech commented on #1184
#1265 made the spawn limit configurable :+1:

[2016-05-17 01:39] #1184 closed

[2016-05-17 02:54] #1025 closed

[2016-05-17 02:55] portertech commented on #1165
Closing this as #1257 was merged and does address these issues/concerns.

[2016-05-17 02:55] #1165 closed

[2016-05-17 03:56] portertech commented on #1075
#1267 was merged, adding this feature :+1:

[2016-05-17 03:56] #1075 closed

[2016-05-17 08:17] trekr5 opened #1269 "Sensu client reporting "incompatible library version" when attempting to load a gem"
Hi,

I have a situation in which in one of my sensu plugins requires the gem tiny_tds to connect to an SQL database and extract a value and output this to a graphite server. When I try to run the plugin at present and I check in my sensu-client.log to confirm that the values are being extracted, i see the following:-

`"metrics_donations_paypal","issued":1463472817,"executed":1463472817,"duration"

[2016-05-17 13:49] hany commented on #1126
👍 to this. It would be very helpful when combined with Uchiwa so one can embed links to Graphite/Grafana for service-specific checks that auto-fill the hostname based on tokens.

[2016-05-17 14:21] lukyanov opened #1270 "Starting sensu-client with sensu-server not available"
## Expected Behavior
It would be useful to be able to start sensu-client when rabbitmq on the server is not yet available. It is handful when doing configuration management with tools like Chef, Puppet, Ansible, etc. I saw your recommendation to use `runit` with your Chef cookbook, but it is not a generic solution. CentOS 7, for example, uses systemd as a default. Using `runit` there would be kind

[2016-05-17 22:28] portertech commented on #1079
#1271 was merged, adding this feature :+1:

[2016-05-17 22:28] #1079 closed

[2016-05-17 22:55] portertech commented on #1270
@lukyanov The latest version of Sensu (0.23.3) will continue to run and attempt to reconnect to RabbitMQ.

[code]

[2016-05-17 22:56] portertech commented on #1270
Please use a recent version of Sensu :+1:

[2016-05-17 22:56] #1270 closed

[2016-05-17 22:58] portertech commented on #1269
@trekr5 have you tried uninstalling the gem from the embedded ruby prior to letting chef reinstall it?

[2016-05-18 05:07] lukyanov commented on #1270
I'm using this version in fact.
Well, in my case the host defined in rabbitmq.json is not available at all at the moment of starting the client. With this version I still get this error:

[code]

[2016-05-18 10:59] trekr5 commented on #1269
Hi ,

Found a solution.

The tiny_tds gem version 1.0.3 required a seperate freetds library to work with ruby 2.2 . The 0.7 version of tiny_tds had this library already bundled together so it was a question of installing the freetds library separately.

Thanks

[2016-05-18 19:11] portertech commented on #1269
@trekr5 great, glad you figured it out :+1:

[2016-05-18 19:11] #1269 closed

[2016-05-18 19:12] portertech commented on #1262
Your screenshot suggest a Uchiwa "DC" error (probably failing to communicate with the Sensu API).

[2016-05-19 23:07] xyntrix commented on #1258
Agree.  404 to me means the server is not able to serve a request (web server problem), regardless of the content in the page. I'd expect a 200 and the body of the data is empty or the header contains application response information (no client found).

[2016-05-20 00:07] dgoradia commented on #1037
Not resolved for `sensu-0.23.2-1.msi` on win srv 2008 r2.

Message:
[code]

[2016-05-20 02:16] hurrycaine commented on #1037
@dgoradia  from my testing v3.5 is no longer required (which was the issue I logged) but I did not test if it would work without .Net4.5... all my servers have 4.5

[2016-05-20 02:39] dgoradia commented on #1037
@hurrycaine When running `sensu-client.exe install` I get the above message. This happens with `NetFx3` feature installed. Under Server Manager > Features, I can see that `.NET Framework 3.5.1` is installed.

Tried a reboot too, still same message.

It only works after installing .NET Framework 4. 4.5 may also work but I haven't tested.

If .NET is a required dependency, fine but the error message

[2016-05-20 12:21] lukyanov opened #1275 "'connect_server': unable to resolve server address"
When the host with RabbitMQ does not exist at the moment when sensu-client is starting, the client fails with the error:

[code]

The version of sensu I use is 0.23.2.

rabbitmq.json:

[code]

The issue is that server.domain.com is not resolvable at all when the client starts.

The full use case see here: https://github.com/sensu/sensu/issues/1270

[2016-05-20 17:40] kobbe opened #1276 "(API) Feature request: Get real IP of clients"
Currently in Uchiwa one can see the IP of a server. Unfortunately this is the IP that is configured in the client. Due to dynamic IP addresses in our environment it is impossible to use a fixed IP in the description. I would therefore like to see the actual IP address of each client. I guess there needs to be a new field in the client API like "real-ip-adress" or something.

Or current setup works

[2016-05-20 18:02] portertech commented on #1218
I have completed a implementation of this spec with a few minor changes: https://github.com/sensu/sensu/pull/1273

[2016-05-22 15:37] mattyjones opened #1277 "--print_config should output consumable json"
This is in reference to #1197

I may be using this wrong so it may be a pebkac issue.  I am trying to consume the output from this and running into an issue. From the commandline I am seeing this:

[code]

[code]
This goes on for each configuration file I have in the directory then it spits out the valid json. Is my configuration borked or am I using the flag wrong.  Looking [here](https://github.

[2016-05-23 03:06] sureshsubramaniam commented on #1264
👍

[2016-05-23 11:41] dR3b opened #1278 "Question: Configuration for 50+ switches?"
Hi

I have a default "sensu + uchiwa" installation running. The sensu-server and the
sensu-client are on the same VM.

I also added a simple "ping" check for 1 switch:

[code]

This is working with no problem. Now i want to add 50 more switches. Do I really have to repeate this step for every switch?

Thanks

[2016-05-23 17:46] xyntrix opened #1279 "Add a feature to warn/crit on Sensu client version compliance"
We recently experienced an issue where several thousand old clients (0.16.0) were connected to Sensu and a  network degradation event rolled through.   Due to challenges with that older version, we ended up with a flood of connections into RabbitMQ (n-thousand clients all doing 300-400 connections each).

It would be great if there was a feature in Sensu-core to raise an alarm if the client versio

[2016-05-24 06:49] lp0 commented on #1259
I would need :::source.name::: as well as as support for multiple source address families, e.g. a check for SSL using the IPv4 address of the source and a check for SSL using the IPv6 address of the source. Both of these would also require the name of the source to be able to verify the hostname on the certificate.

[2016-05-24 14:01] grgizem commented on #1190
Same problem on Ubuntu 14.04 with sensu-server 0.23.2, error message as follows,
`/opt/sensu/embedded/lib/ruby/2.3.0/tmpdir.rb:35:in `tmpdir': could not find a temporary directory (ArgumentError)`

[2016-05-24 18:31] kobbe commented on #1278
Since commands can be any command it is quite easy to just write/script your own checks. Make for example a python/ruby/bash script that loops through all desired hosts.

I usually do it like this in linux:

[code]

If you don't want to manually add all rows you can just make a loop.

[2016-05-24 22:30] calebhailey commented on #1219
Tagging https://github.com/sensu/uchiwa/issues/458 here as it may be related.

[2016-05-25 00:21] kaushiksriram100 opened #1280 "Subdue checks"
Not sure if I am understand this wrong, But I setup a subdue between 11AM PT AND 11:59 PT for a check. What I see is that check hasn't run since 11:00 am and it's now 6 hours. This is what I see in the logs.

And the subdue for keepalive is showing some mixed results, I am still testing that.

[code]

[2016-05-25 14:18] UnitedMarsupials opened #1281 "Token-substitution should apply to all attributes of a check"
Currently token-substitution is only applied to the `command`-attribute. This makes sense, because `command` is the only place, where arbitrary strings can be encountered.

The only place among _standard_ attributes... However, there can be non-standard ones attached to a check. For example, I'm trying to add a `Chart`-attribute, that would include a link to Graphite-produced image:

[code]

It al

[2016-05-25 14:36] UnitedMarsupials commented on #1281
Actually, perhaps, the right place for the token-substitution is not so obvious... Currently the client performs it _every time the check runs_. Would not it make more sense to perform the substitution _once_ per check -- whenever one is either received from the server or loaded locally?

Are there tokens today, that change value from one check-execution to another?

[2016-05-25 14:54] nhooey opened #1282 "Option to suppress expired TTL events when keepalive is failing"
Currently when a check hasn't been run within the configured `TTL`, an event is generated with output: `Last check execution was X seconds ago`.

When a node is shut down, or otherwise disconnected from Sensu, a check result is generated for each check that hasn't been run within the `TTL`.

This information isn't really useful when the `keepalive` check failing is the real issue, so it would be h

[2016-05-25 15:46] portertech commented on #1281
@UnitedMarsupials I think this idea is great :+1: applying token substitution to any string check attribute value (top-level only) is appropriate, e.g. `next unless value.is_a?(String)`. Your proposed changes look pretty good, however, the Sensu code base avoids the use of `return` when any async code is present, hence the conditional wrapping. We should probably use string interpolation instead o

[2016-05-25 15:47] portertech commented on #1281
Just a note, we recently (0.23.0) added token substitution to filter eval attribute values https://github.com/sensu/sensu/blob/master/CHANGELOG.md#0230---2016-04-04 so we've already applied this logic elsewhere :+1:

[2016-05-25 15:48] portertech commented on #1281
@UnitedMarsupials are you able to submit a pull request with your changes this week?

[2016-05-25 15:52] portertech commented on #1279
Sensu will be hitting a 1.0 release later this summer. 1.0 will represent a "stable system" (no breaking changes for 1.x.x). The Sensu documentation for older releases will soon only be available via https://github.com/sensu/sensu-docs, we are not going to introduce a feature like this for outdated/legacy releases, which have known security vulnerabilities etc.

[2016-05-25 15:57] portertech commented on #1277
@mattyjones Sensu `--print_config` available in >= 0.23, will output the usual configuration compilation log lines prior to a standard puts() https://github.com/sensu/sensu/blob/master/lib/sensu/daemon.rb#L86-L91 Are you not seeing `outputting compiled configuration and exiting`? On the correct release?

[2016-05-25 16:05] UnitedMarsupials commented on #1281
Thank you for the quick reaction, @portertech!

Huh? There must be some deep philosophical reasoning to this rule. To me such code (and I have seen this principle applied to various languages) has always been less readable and looked messier due to the increased indentation.

Ah, is this to guard against people forgetting to "unlock" things? Not sure, if it is justified -- this function, for examp

[2016-05-25 16:05] mattyjones commented on #1282
I agree this is frustrating. I have a handler for dealing with this but I am waiting on a few other parts. A native solution would be best.

[2016-05-25 16:07] mattyjones commented on #1277
<img width="1275" alt="screen shot 2016-05-25 at 12 07 43 pm" src="https://cloud.githubusercontent.com/assets/672940/15547321/4aaea3ba-2271-11e6-9e3c-e82ae9962a48.png">

@portertech

[2016-05-25 16:17] portertech commented on #1281
- re `return`

    Many/most methods deal with blocks/callbacks and use wrapping conditionals with `yield()`, as many async non-blocking calls are made throughout the code base, I would prefer to keep the use of `return` to an absolute minimum.

- re caching

    It's possible for check request payloads to include changes to a definition. Any proper caching solution would probably end up being ove

[2016-05-25 16:26] UnitedMarsupials commented on #1281
I first looked into this code _today_, so I'm happy to take your word for it. _However_... It would seem, there are only two places, where check-definition may change:

1. When loaded locally.
2. When received from remote.

It would seem, one familiar with the code could add a token-substituion call to both of this places removing it from `execute_check_command`. The benefit is substantial -- the

[2016-05-25 16:28] calebhailey commented on #1281
I love this idea. I tried to convince @portertech to do this a long time ago, but I think it was too soon. 👍

![](http://i.makeagif.com/media/4-08-2014/rjDe_3.gif)

[2016-05-25 21:14] nhooey opened #1284 "Sensu emits "check interval must be an integer" when `interval` set to zero"
This error message should mention a positive integer.

I encountered this when trying to define a `standalone` check with an `interval` of `0`, since omitting either the `interval` or `command` is not allowed.

[2016-05-25 22:14] nhooey opened #1286 "Sensu Client exception on `standalone` check when `interval` omitted and `publish: false`"
When I have a check defined with `standalone: true`, `publish: false`, and `interval` omitted, I get a stack trace when restarting `sensu-client`.

There is no issue when including an arbitrary `interval`, but I don't want the check scheduled standalone on the client, I merely want it to exist so the check will fail when there are no results posted within the `TTL`.

**Check definition:**

[code]

[2016-05-25 22:28] nhooey commented on #1286
Resolved by #1287.

[2016-05-25 22:31] portertech commented on #1041
Aggregates 2.0 has been merged into the release/0.24 branch https://github.com/sensu/sensu/pull/1273 Sensu 0.24 will be available sometime next week.

[2016-05-25 22:31] #1041 closed

[2016-05-25 22:33] portertech commented on #1187
Aggregates 2.0 has been merged into the release/0.24 branch #1273 Sensu 0.24 will be available sometime next week.

[2016-05-25 22:33] #1187 closed

[2016-05-25 22:33] portertech commented on #1218
Aggregates 2.0 has been merged into the release/0.24 branch #1273 Sensu 0.24 will be available sometime next week.

[2016-05-25 22:33] #1218 closed

[2016-05-25 22:35] portertech commented on #803
Aggregates 2.0 has been merged into the release/0.24 branch #1273 Sensu 0.24 will be available sometime next week.

[2016-05-26 06:59] mattyjones commented on #1279
@xyntrix  It is a pia but you could just do this with some simple bash foo. The real question though is how does this occur. Sensu works best when deployed via automation tools. This could easily be solved by them, I would think this is less of a Sensu issue (although a cool feature to have) and more of a Chef/Puppet/Ansible/foo issue IMHO.

The dirty way to solve this is to put the version of the

[2016-05-26 07:42] dR3b commented on #1278
Sorry, but that sounds terrible for me. That's not a solution that I expect for a "Monitoring for today's infrastructure" tool.

I need a "virtual" host for every switch. I think something like this:
[code]
One check definition for all switches (sw1, sw2, swN).

[2016-05-26 14:41] yanc0 commented on #1278
There is no concept of distant check in sensu as far I know. All machines that you want to be monitored have to run the `sensu-client` daemon. It seems that sensu is not the right tool for network assets monitoring. I figured out distant monitoring with a little HTTP Client As a Service that I rapidly developed, It is called [pingmeback](https://github.com/yanc0/pingmeback) with a sensu plugin nam

[2016-05-26 15:19] #1156 closed

[2016-05-26 15:20] nhooey commented on #1156
Closed this since it's tracked in the `sensu-docs` repo.

[2016-05-26 15:27] nhooey commented on #1282
@mattyjones Could you publish this handler so I can use it?

Before you do that, a couple of questions:

1. Is it a regular handler or an extension handler?
1. Does the handler make an API request to check the keepalive state of the node in question?

[2016-05-26 16:27] portertech commented on #1286
@nhooey why use a standalone definition at all? Can just define a pubsub check on the client.

[2016-05-26 16:28] nhooey commented on #1286
@portertech How do I do that, exactly?

I still want a failed check result to be generated when the check result isn't sent within the `TTL`.

[2016-05-26 17:24] kobbe commented on #1278
I think It definitely could be something that sensu could implement. It would certainly remove some of the scripting from sensu in some scenarios.

[2016-05-26 19:10] nhooey commented on #1282
Is it possible to create a filter that runs code to check if a client is currently failing a keepalive check?
@portertech, @calebhailey

[2016-05-26 19:31] UnitedMarsupials commented on #1281
Ok, how about this patch instead? It goes through not just the top-level strings, but all fields of the check -- possibly diving into sub-hashes and lists (arrays):

[code]

Tested with the following check-definition her:
[code]
Note, how the substitution is done in a separate method entirely (should it live in `utilities.rb`, perhaps?). When somebody becomes ready to move the substitutions out of

[2016-05-26 19:32] cwjohnston opened #1289 "HTTP headers logged by API should be customizable"
Currently the API logs [a static list of HTTP headers for each request](https://github.com/sensu/sensu/blob/v0.23.2/lib/sensu/api/process.rb#L117-L123). It would be helpful if the list of headers were customizable for users who would like to log additional request information, e.g. X-Forwarded-For headers.

[2016-05-27 02:17] nhooey commented on #1282
I went ahead and made an [TTL Keepalive Filter](https://github.com/nhooey/sensu-plugins-ttl-keepalive-filter/blob/master/ttl_keepalive_filter.rb) that is an extension filter.

It filters out failed results due to expired TTL, where the client is currently failing its keepalive check (the overarching issue). I just tested it in production and it works, with decent performance.

It also depends on m

[2016-05-27 04:49] portertech commented on #1286
TTL monitoring is done via the Sensu server leader, after a result has been received for a client, with a defined TTL. TTL monitoring is NOT done by the Sensu client.

[2016-05-27 04:51] portertech commented on #1286
You could always push a check result to the client socket with a TTL, if that is what you're after.

[2016-05-27 05:19] nhooey commented on #1286
What if the first check result is never sent by the client, or received by the Sensu server? Then the check's `TTL` will never be set.

I think it makes sense to be able to define a `standalone` check with no `TTL`, but also no `interval`. This should be done by configuration in the server, not with the first check result sent by the client.

[2016-05-27 05:21] portertech commented on #1286
It's essentially a "dead man's switch", it needs to be initiated by the client. Clients are decoupled from the reset of the system via subscriptions, I do not see how another approach makes any sense.

[2016-05-27 05:25] nhooey commented on #1286
There's still nothing telling the server that it should be expecting a check result within a certain amount of time, unless hopefully the first check result with a defined `TTL` comes in. If that first check result fails to arrive, then the check will never be defined for that client.

Why do you say that the `TTL` and check result need to be initiated by the client?

[2016-05-27 05:53] portertech commented on #1286
Sensu servers are not directly aware of a client/check pair, until a client registers itself with the client registry, and then the client publishes a check result. We will probably add additional logic to `calculate_execution_splay()` to guard against this error.

[2016-05-27 06:37] dR3b commented on #1278
@yanc0
Thank you. I think without a "distant check" concept sensu will never replace `nagios` or `icinga`. I'm really sorry, but at this stage `sensu` for me is useless. I need it for network stuff. For "software" monitoring we already use `prometheus`.

[2016-05-27 13:41] UnitedMarsupials commented on #853
@calebhailey, could you post a link to a sample implementation of SNMP trap-handler for Sensu -- using the proxy clients?

The ability to feed SNMP traps into our new monitoring system (Sensu is one of the candidates) is a critical requirement for us here.

And not just it, we also want to be able to create [dependencies](https://sensuapp.org/docs/0.16/checks#check-dependencies). For example:

Tha

[2016-05-27 14:25] UnitedMarsupials opened #1292 "Documentation links broken"
It seems that the web-site was rebuilt overnight with old documentation no longer available and updated pages not quite matching.

For example, we were discussing the check-dependencies feature, which I saw online _yesterday_. Unfortunately, the same link https://sensuapp.org/docs/0.16/checks#check-dependencies is useless today.

The current [checks-page](https://sensuapp.org/docs/0.23/reference/c

[2016-05-27 15:28] UnitedMarsupials opened #1293 "Use Chronic for time-parsing, if available"
We perform scheduled maintenance here monthly -- on the 3rd Thursday of every month.

It would make sense for us to disable a number of alerts during the day automatically. Unfortunately, Ruby's built-in `Time.parse` can not handle such complex examples.

But [Chronic](https://github.com/mojombo/chronic) can -- well, [almost](https://github.com/mojombo/chronic/issues/332). It would be nice, if Sen

[2016-05-27 18:02] portertech commented on #1281
@UnitedMarsupials I was hoping to go with your original change proposal, as a first step. I would prefer to introduce top-level string only substitution, observe client impact and use cases.

[2016-05-27 18:04] UnitedMarsupials commented on #1281
Is that a show-stopper? I'd say, it is just as inconsistent to limit token-substitution to top-level strings only, as it was to limit it to `command`-attribute before...

[2016-05-27 18:22] portertech commented on #1281
@UnitedMarsupials not a show-stopper, I am warming up to you. Made some comments on the PR, do not worry about squashing commits etc, I am all for verbose.

[2016-05-27 22:58] Gillingham commented on #1281
This would be very useful for things like the ability to use a variable to define the source attribute of checks, I have several checks that can run on pairs of servers that need to specify a source that represents the combined service of them. Right now I basically have to define a check for each one instead of being able to just do with a static source, instead of just being able to use "source"

[2016-05-27 23:44] UnitedMarsupials commented on #1281
@Gillingham, sir, would you mind expanding on your idea? I need to monitor a bunch of systems via SNMP and am struggling to figure out the best way to do it...

I gather, they ought to be "proxy clients" with the actual checks running on the Sensu-server (for simplicity). How do I express it in Sensu config-file(s)? I'd rather not write (and forever maintain) my own daemon for it...

[2016-05-27 23:48] Gillingham commented on #1281
I just have a roundrobin subscription setup that has access to the service I need to monitor, then the check that runs against that will only run on a single host, and be tied to that proxy client with the source attribute of the check. So one actual client is chosen from the roundrobin pool and the check results ends up associated with the proxy client.
The source attribute is all you really need

[2016-05-27 23:53] UnitedMarsupials opened #1295 "sensu-service fails to restart if stale PID-file is found"
If a sensu-service died (or was killed) for whatever reason -- and left a stale PID-file, the `sensu-service` script will fail to `restart` it:

[code]

Using `start` instead of `restart` works. There should be no difference -- the script may complain (and/or log) encountering a stale PID-file, but needs to proceed to starting the service anyway.

[2016-05-28 02:57] UnitedMarsupials commented on #1281
@Gillingham, thanks, but could post a snippet of your config-file(s)? I'm fairly new to Sensu, believe it or not...

BTW, your idea will not work even if my change is merged in -- an attempt to use `"source": ":::foo:::"` gets rejected by some validator at start-up...

@portertech, can I relax (or remove) the validation?

[2016-05-30 17:40] portertech commented on #1281
@UnitedMarsupials token substitution in required or strict attribute values can cause havoc, so we will not change validation. E.g. in progress checks (name), unmatched source token -> empty client name.

[2016-05-30 17:40] nhooey opened #1297 "Distribute scheduled checks evenly among the check interval"
Currently if a check is scheduled every minute or hour, the check is scheduled on the minute or hour for every Sensu client node. This leads to spikes in RabbitMQ messages, and spikes in activity on every Sensu client node.

Having the checks scheduled evenly across the interval, using a hash of the Sensu client's name as a modulus, would evenly distribute this activity.

[2016-05-30 17:41] portertech commented on #1281
Let's run with check attribute value token substitution with the current validation constraints and see how it goes. We can certainly revisit things after some use.

[2016-05-30 17:42] portertech commented on #1281
@Gillingham we can revisit check source validation in regards to tokens for the following release (0.25). Special characters and empty strings are known to break several pieces of Sensu.

[2016-05-30 17:43] portertech commented on #1281
I merged @UnitedMarsupials's substitution implementation into the 0.24 release :+1:

[2016-05-30 17:43] #1281 closed

[2016-05-30 18:56] jaykumar-jnpr opened #1299 "API config documentation"
Sensu API configuration [documentation](https://sensuapp.org/docs/0.23/platforms/sensu-on-ubuntu-debian.html#example-api-configurations) is vague, I remember documentation of an earlier version mentioned the difference between host and bind IP address

As I understand,

**host** is the endpoint sensu server would connect for API
**bind** is the local interface/IP sensu-api should bind to.

Is the

[2016-05-30 19:11] portertech commented on #1215
Merged https://github.com/sensu/sensu/pull/1298 which closes this :+1:

[2016-05-30 19:11] #1215 closed

[2016-05-30 19:25] portertech commented on #1299
@jaykumar-jnpr most consumers of `host` expect it to be a hostname/IP, not including the port.

[2016-05-30 20:26] portertech commented on #1284
https://github.com/sensu/sensu-settings/pull/31

[2016-05-30 20:43] portertech commented on #1284
https://github.com/sensu/sensu/pull/1300

[2016-05-30 20:49] portertech commented on #1284
https://github.com/sensu/sensu/pull/1300 has been merged :+1:

[2016-05-30 20:50] #1284 closed

[2016-05-30 21:06] portertech commented on #1070
https://github.com/sensu/sensu/pull/1301

[2016-05-30 21:14] portertech commented on #1070
https://github.com/sensu/sensu/pull/1301 has been merged, tests pass with the 0.24 Aggregates 2.0 implementation :+1:

[2016-05-30 21:14] #1070 closed

[2016-05-30 21:18] portertech commented on #803
Going to close this issue in light of 0.24 and Aggregates 2.0. Discussion will likely change as we have a new(ish) primitive to play with.

[2016-05-30 21:18] #803 closed

[2016-05-31 03:58] bf4 commented on #1049
@calebhailey Thanks.  I actually don't use windows myself, but IIRC was just looking at other issues :)

[2016-05-31 07:39] jaykumar-jnpr commented on #1299
Any suggest workaround, or do we have to have default port 4567 for remote API endpoint?

[2016-05-31 09:21] zoran commented on #1224
+1

[2016-05-31 09:50] lp0 opened #1302 "TTL check has a different interval from the original check"
If I have a check running every 5 minutes and the TTL expires on the last result, sensu starts calling the handler every 30 seconds but the check will not recover until the next 5 minute interval.

The message to the handler also increments the number of occurrences every 30 seconds which makes it impossible for the handler to identify the duration of that state or correctly determine the duration

[2016-05-31 09:52] lp0 commented on #1166
I'd like to configure this with a state of '3' so that I know the real status is unknown.

[2016-05-31 14:41] UnitedMarsupials opened #1303 "There should be a way for extensions to bind to privileged ports"
Sensu's startup script(s) should allow extensions to bind to port below 1024 before dropping superuser privileges.

One immediate use-case would be an SNMP-listener -- an extension such as [that](/warmfusion/sensu-extension-snmptrap) by @warmfusion, which needs to listen on port 162. Another would be a listener for syslog-datagrams (port 514).

Although different Operating Systems provide differen

[2016-05-31 15:03] portertech commented on #1277
@mattyjones Looks like you are not running it as the Sensu user (`sudo -u sensu`) and you are not running it with the runtime arguments.

[2016-05-31 15:30] calebhailey commented on #1277
@mattyjones: two thoughts here: first of all, you can achieve your desired output by following the suggested "PRO TIP" [in the documentation][1] and setting the logging level to `-L error` or `-L fatal`.

Secondly, we probably could/should consider making `--print_config` output an array of hashes. For scripts where you're looking for the actual configuration object, you could always grab the last

[2016-05-31 15:38] mattyjones commented on #1277
@portertech  Changing the user had no effect. I was running with the runtime arguments.

To amend this issue and need. I want the **running** config that has already been compiled as is in the settings var. This will compile the config that I pass to it which may differ from the running config. After looking at the suggestions and code above this is is all set and I will close this out and create

[2016-05-31 15:50] mattyjones opened #1304 "Print running configuration to a temporary file"
I am looking for a language agnostic way to obtain the currently running config of a client. When using the new `-P` functionality it will compile the configuration that you pass into it. There should be a way to obtain the current configuration hash stored in the `settings` file.

There are a few ways to do this:
- When the client starts up dump it to /tmp/sensu_settings in machine readable json

[2016-05-31 16:51] calebhailey opened #1305 "Built-in client deregistration"
Move automated de-registration on graceful shutdown into Sensu Core. This currently exists as a handler in the `sensu-plugins-sensu` plugin, but it should become a built-in feature in Sensu Core.

See: https://github.com/sensu-plugins/sensu-plugins-sensu/blob/master/bin/handler-sensu-deregister.rb

There is already a PR for this, here: https://github.com/sensu/sensu/pull/1191

[2016-05-31 18:08] calebhailey commented on #1282
Tagging this for consideration with the 0.25 release.

[2016-05-31 21:03] Gillingham opened #1308 "Check timeout + source + roundrobin"
Not sure which combination of timeout, source, and roundrobin but I'm experiring far from ideal behavior using them in conjunction.

I have a check with a interval of 60, a timeout of 50, and ttl of 110. I assumed that sensu would kill the check once it passes 50s, and sent an alert once no response has been heard in 110s.
This check waits for a trigger sent by a check running on another host, if

[2016-05-31 22:31] cwjohnston commented on #1305
@calebhailey I think #1191 looks pretty good. Moving the handler into core I am a little more fuzzy on. Currently `debug` handler is the only one we ship by default and it's implemented as an extension. Do we want to reimplement the deregistration handler as an extension in sensu-extensions ?  cc @portertech

[2016-05-31 23:20] portertech commented on #1305
@cwjohnston for client registration, the server is creating the check (& publishing the check result), when the client is first added to the registry https://github.com/sensu/sensu/blob/master/lib/sensu/server/process.rb#L77 Note the client definition scope merge https://github.com/sensu/sensu/blob/master/lib/sensu/server/process.rb#L80 Perhaps the client should support `"deregistration": {}` to c

[2016-05-31 23:21] portertech commented on #1305
https://github.com/sensu/sensu/pull/1191 is pretty close, but I think it needs the same treatment as https://github.com/sensu/sensu/blob/master/lib/sensu/server/process.rb#L77

[2016-05-31 23:21] portertech commented on #1304
This will require a minor change to https://github.com/sensu/sensu-settings

[2016-05-31 23:22] portertech commented on #1304
@mattyjones I am much more inclined to write the compiled/running configuration to a temp file :+1:

[2016-05-31 23:25] portertech commented on #1303
Not sure if we are going to attack this one any time soon, due to the amount of platform complexity as you have mentioned. I am not a fan of Sensu ever operating with more privileges.

@UnitedMarsupials What use cases are there where the source cannot be updated to point at a higher range port?

[2016-05-31 23:34] portertech commented on #1308
@Gillingham please upgrade to 0.23.3-1. The spawned process timeout mechanism has very recently change, it could fix this for you :+1:

[2016-05-31 23:35] Gillingham commented on #1308
@portertech Running sensu-0.23.3-1.x86_64 on all the machines in question, sorry I should have included that in the original post.

[2016-05-31 23:46] portertech commented on #1299
@jaykumar-jnpr what do you have that's consuming the API definition?

[2016-06-01 00:36] Gillingham commented on #1244
#1254 should probably also have related issues for the service script things to and a configtest or similar functionality to the various systemd/service/init scripts in sensu/sensu-build to enable easier use of this new flag

[2016-06-01 01:28] UnitedMarsupials commented on #1303
Heh, the platform-specific complexity is required for people to allow Sensu to bind to privileged ports _after_ it dropped root-privileges. Doing it _before_ is quite straightforward.

You are right to be concerned, but it needs to happen -- there are legitimate uses for it. Apache, for example, is doing it -- binding to 80 (and 443) before becoming a non-privileged user.

Some network gear only a

[2016-06-01 01:49] selbyk commented on #1282
+1

[2016-06-01 01:53] selbyk commented on #1276
Don't know how the developers feel, but it doesn't seem like Sensu's job to do this.  We use a provisioning with Ansible to set the correct IPs in the sensu client config.  You could use a cron job and http://checkip.amazonaws.com/ to update the config and reload sensu client on IP change.

[2016-06-01 04:25] mattyjones commented on #1304
👍

[2016-06-01 05:23] jaykumar-jnpr commented on #1299
@portertech , I am facing issue with Sensu deregister handler, it is trying to make connection to following endpoint, which obviously is wrong.

10.0.0.10:45670:4567

`["/opt/sensu/embedded/lib/ruby/gems/2.3.0/gems/sensu-plugin-1.2.0/lib/sensu-handler.rb:134:in `block in filter_silenced': Object#timeout is deprecated, use Timeout.timeout instead.\n/opt/sensu/embedded/lib/ruby/2.3.0/net/http.rb:882

[2016-06-01 09:04] NiGame commented on #1224
+1

[2016-06-01 15:26] portertech commented on #1303
@UnitedMarsupials forward the privileged port w/ something like iptables as a stop-gap?

[2016-06-01 16:15] UnitedMarsupials commented on #1303
Yes, that'd be a work-around for network-listening extensions. And it is acceptable short-term. But long-term it should not be necessary. Thanks!

[2016-06-01 19:27] cwjohnston commented on #1305
@portertech I have started to build on #1191 in `feature/client-deregistration` branch, any thoughts about timing the deregistration event before vs after calling `pause`? (see https://github.com/sensu/sensu/pull/1191/files#r57937238)

[2016-06-01 19:55] portertech commented on #1305
@cwjohnston will need to happen after pause to ensure no additional keepalives are sent after the deregistration check result.

[2016-06-01 22:07] lp0 opened #1310 "Client connections to RabbitMQ do not verify the server's certificate or hostname"
The callback functionality in ```eventmachine``` for verifying the certificate (it's not done automatically) isn't being used by ```ruby-amqp```, so client connections to RabbitMQ do not verify the server's certificate or hostname.

[2016-06-01 22:52] cwjohnston commented on #1299
It seems that sensu-api process and the sensu-plugin handler class both rely on the api configuration scope in ways that seem to confound expectations here.

I've commented in sensu-plugins/sensu-plugins-sensu#6 with some thoughts about how this might be resolved for @jaykumar-jnpr 's particular case (running API behind load balancer on alternate port).

[2016-06-02 07:26] jaykumar-jnpr commented on #1299
@cwjohnston, thanks for detailed explanation. Btw, yes I am already running Redis with replication and Sentinel HA

I still see a use case to add host:port to api configuration scope, to avoid any single point of failure.

Even I if am running sensu api/server on the same server, I see a value in servers pointing to a loadbalanced endpoint to avoid failures/unhealthy state in the case sensu-api di

[2016-06-02 15:13] epsilon-jpage opened #1311 "Windows Client Performance Issues"
Our Windows clients are seeing a consistent CPU increase when they're running the Sensu Client.  This happens regardless of Windows Server version.  Depending on the size of the server, the base line CPU increase can be anywhere from 8% to 25% just from the Sensu Client alone.  The CPU levels will climb over time if left alone.  Restarting the Sensu Client does nothing.  Stopping it obviously fixe

[2016-06-02 18:08] cwjohnston commented on #1299
@jaykumar-jnpr on further reflection I think you're right that theres an improvement to be made here.

To my understanding the server interacts with the HTTP API only when executing pipe handlers, particularly those using the [sensu-plugin library](https://github.com/sensu-plugins/sensu-plugin).

If the API is unreachable, a handler may not be able to complete before timing out, or it may log a fa

[2016-06-02 21:43] cwjohnston commented on #1305
https://github.com/sensu/sensu/pull/1309 is awaiting review.

[2016-06-03 13:30] okushchenko commented on #1275
I can confirm this issue on 23.2 version of Sensu. I am using Consul for service discovery and Sensu transport is configured as a DNS record, so Sensu Server doesn't reresolve DNS when it is unable to resolve it during the first attempt. Moreover, Sensu Server just keeps running without exiting correctly when this issue is encountered.

[2016-06-03 14:51] gmodules opened #1312 "sensu-0.24 valid_config looking for a config.json"
in my setup i only use /etc/sensu/conf.d/client.json etc.. but with the new version the valid_config is lookign for a /etc/sensu/config.json and the daemon won't restart because of this. I created an empty file and it worked.

[2016-06-03 16:05] portertech commented on #1312
@gmodules thank you for reporting :+1: We will get this into 0.24.0

[2016-06-03 16:43] calebhailey commented on #1312
Oh, nice catch :+1:

[2016-06-03 16:50] #1312 closed

[2016-06-03 17:00] portertech opened #1313 "[DISCUSS] Remove -c config.json"
I would like to discuss the possible removal of `-c /etc/sensu/config.json`, making `-d /etc/sensu/conf.d` the only means of configuration.

We are having to make exceptions for `config.json`, i.e. https://github.com/sensu/sensu/issues/1312

[2016-06-03 17:05] portertech commented on #1310
@lp0 I will investigate and implement verify_peer() for the RabbitMQ Sensu Transport.

Client side verification is currently done on Solaris & AIX clients due to the pure Ruby EM start_tls() implementation.

[2016-06-03 17:05] portertech commented on #1310
https://github.com/sensu/sensu-transport

[2016-06-03 19:51] selbyk opened #1316 "Run now api call for check debugging"
A simple 'run now' ability that has sensu run a check immediately for check/remediation debugging would be very useful

[2016-06-03 20:02] portertech commented on #1316
@selbyk you can issue a check request with the current API, POST /request https://sensuapp.org/docs/0.23/api/checks-api.html#the-request-api-endpoint

[2016-06-05 20:23] octogeek commented on #1209
Hello. I have a problem with sensu-api. It can't bind to port.
My sensu-redis config
`{
"redis": {
    "host": "127.0.0.1",
    "port": 6379
  },`

Му  sensu-api config

`{
  "api": {
    "host": "127.0.0.1",
    "bind": "0.0.0.0",
    "port": 4567
  }
}`

I can't see bind 4567 port.
`>ss -lntp|grep 4567`

I was see problem with strace.
`-1 EAGAIN (Resource temporarily unavailable)`

[2016-06-06 08:06] anlutro commented on #1058
I spent way too long debugging an issue because of this. Had to use `strace` to see the "authentication failure" message being returned from RabbitMQ.

[2016-06-06 08:08] jaykumar-jnpr commented on #1299
@cwjohnston, what is the expected behavior when one of the API dies in the Array, do we have any health check logic to ignore dead API endpoint? Or just basic timeout with exponential back-off.

[2016-06-06 09:30] runningman84 commented on #1316
But it isn't possible to run a check on a specific client if the client does not subscribe to itself?

[2016-06-06 15:27] calebhailey commented on #1292
@UnitedMarsupials hi there! Check dependencies documentation was moved to the Plugins reference documentation page a few weeks ago. See here: https://sensuapp.org/docs/0.23/reference/plugins.html#check-definition-attributes

The reasoning for the move is explained in the [Plugin Configuration][1] documentation. Attributes like `refresh` and `occurrences` are not currently part of the [Sensu check

[2016-06-06 15:34] calebhailey commented on #1313
I'll weigh in with some feedback as a documentation maintainer and from people who've been through [Sensu Training][1] - it would be a LOT easier to explain how Sensu loads configuration if all configuration was loaded from the config directory. The `config.json` file is a red herring that confuses users into thinking that file names matter for Sensu configuration loading, [which is not the case][

[2016-06-06 15:57] portertech commented on #1316
We could add a base/included client subscription, named after the client name. This would enable this functionality while maintaining Sensu's model.

[2016-06-06 16:05] runningman84 commented on #1316
@portertech that would be great but please filter them out in the Uchiwa subscription list. Otherwise the subscription filter would become useless because of too many entries.

[2016-06-06 17:49] portertech opened #1317 "Rewrite API to use EM HTTP Server"
The current implementation of the Sensu API uses async Sinatra (rack) and relies on a Ruby platform specific web server (e.g. Thin). EM HTTP Server is a "Simple http server to be used with Eventmachine" which provides a convenient wrapper for HTTP request parsing, e.g. `process_http_request()`.

https://github.com/alor/em-http-server

[2016-06-06 18:42] cwjohnston commented on #1299
@jaykumar-jnpr lets continue discussion of that proposed feature in sensu-plugins/sensu-plugin#122

[2016-06-06 18:51] cwjohnston commented on #1299
@jaykumar-jnpr I should also point out that I am working on releasing sensu-plugin v1.3.0 which contains support for overriding sensu `api` configuration using the value of the SENSU_API_URL environment variable (see sensu-plugins/sensu-plugin#81).

Although I think the configuration interdependency between sensu-plugin and sensu-api needs to be resolved, this environment variable approach seems l

[2016-06-07 14:07] mohamadx opened #1318 "Sensu checks not working"
Hi all

I've installed sensu in my server for testing this product

Any thing is good but i have a bad problem with sensu! my checks successfully added to the dashboard but not auto refreshed based on interval time! but when i clicked on "Issue checked Request" action that checks working very fine!!

In below image you can see my checks list, i define a check for a invalid domain and this check mu

[2016-06-07 15:52] amdprophet opened #1319 "Investigate using different path for tmp files"
Sensu is currently using `/tmp` to store certain files such as `sensu_client_loaded_files`. Some people have been running into issues on hardened systems and systems running a tmp reaping process. We should investigate storing these files in a Sensu-specific location such as `/var/cache/sensu`.

[2016-06-07 16:37] cwjohnston commented on #1318
Hello @mohamadx, thanks for reporting your issue. Unfortunately github issues for this project are not the best format for us to diagnose your problem. From your screenshots I infer that you're using Sensu Enterprise.

Will you please open an issue with our Sensu Enterprise support team via https://helpdesk.sensuapp.com/  and include the output of `/opt/sensu/bin/sensu-client --print_config` on bo

[2016-06-07 16:37] #1318 closed

[2016-06-07 16:58] xyntrix commented on #1279
That's about what I'm going to do, more or less package an watered down version of yum-cron, but for Sensu related packages to help keep the client healthy.   In my case I provide monitoring as a service to a large enterprise, and we try to put guide rails around that service to make it flexible but also maintainable.  "Easy" is a matter of perspective, right?  With several 10s of thousands of cli

[2016-06-07 18:12] calebhailey opened #1320 "Update unmatched client token check result output"
See: https://github.com/sensu/sensu/blob/51b7bab0ef12d3ff93bdf96137c5b8368d77d30e/lib/sensu/client/process.rb#L156

This should say "unmatched client token" instead of "unmatched command token".

[2016-06-07 20:35] calebhailey commented on #1320
@portertech actually, I think this should say "unmatched check token(s):" as the tokens are defined in the check, which are satisfied by attributes in the client definition. No tokens are used in client definitions.

[2016-06-08 18:43] skymob commented on #1067
What are people using as a work-around for this? Not receiving a RESOLVE email is a minor annoyance for us, but when an event triggers a pagerduty event, it's a little more problematic to not have the event resolved via the pagerduty handler.

[2016-06-08 19:28] kshep commented on #1067
@skymob I'm a little embarrassed to admit we're still on 0.20.3 and sensu-plugin 1.2. I figure we'll get current once this issue is resolved. Meanwhile. I've hacked https://github.com/sensu-plugins/sensu-plugin/blob/v1.2.0/lib/sensu-handler.rb#L111 and instead of:

[code]

we're just brute forcing things with:

[code]

[2016-06-08 21:15] selbyk commented on #1316
@portertech That would be great.  I was actually thinking about doing that with our setup or maybe using the port 3030 to manually check check requests. Opening up port 3030 for WAN access seems like a bad idea, though.

[2016-06-09 02:42] dgoradia opened #1323 "Setting EMBEDDED_RUBY on a windows client"
I've searched and searched but haven't seen any docs about this. How would one go about using EMBEDDED_RUBY=true on a windows client?

[2016-06-09 07:38] TJC opened #1325 "transport config merge results in ["redis","rabbitmq"]"
My config looks like this, yet sensu appears to end up merging the default transport, rabbitmq, in as well.

[code]

[code]

[2016-06-09 15:53] neizmirasego opened #1326 "Keepalive events are always filtered"
I am trying to filter keepalive noise and handle only 5th and 10th.
My filter:
{
  "filters": {
    "recurrence": {
      "attributes": {
        "check": {
          "interval": 60
        },
        "occurrences": "eval: value == 5 || value % 10 == 0"
      }
    }
  }
}

Client:
﻿{
  "client": {
    "name": "del-me-dz-sensutest02-test",
    "address": "192.168.100.196",
      "subscriptions": [